
/*------------------------Site Content-------------------------*/

.sections {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
}

.sections h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.sections h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.sections h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}



/*-------------------------Mylist Items------------------------*/

.mylist-items {
    background-color: #F0F0F0;
    padding: 10px 10px 25px 25px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    margin-bottom: 12px;
}

.mylist-items h4 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.mylist-items h4 a {
    color: #3D3D3D;
}

.mylist-items h4 a:hover {
    color: #5cb85c;
    text-decoration: underline;
}

/*-----------------------Number Highlights----------------------*/

.number {
    font-weight: bold;
    
}

.orange {
    color: #CD8162;
}


/*---------------------Top Five & Bottom Five ------------------*/

.most-least-difficult {
    width: 100%;
    display: inline-block;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    margin: 4px;
    margin-bottom: 15px;
    vertical-align: top;
    height: 100%;
}

@media only screen and (min-width : 650px) {
        
    .most-least-difficult {
        width: 48%;
        display: inline-block;
    }
}

/*----------------------Chartit Charts----------------------*/

.highcharts-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    
}

.chart-description {
    background-color: #F0F0F0;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    width: 90%;
}

/*----------------Analysing Your Yearly Income-------------*/

.side-note {
    background-color: #F0F0F0;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    margin: 4px;
}

.side-note h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
}

.tab-nav-width {
    width: 20%;
}

.tab-nav-width a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #3D3D3D;
}

.nav-tabs > li.active > a {
    color: #f0ad4e
}

.percent-tab-content {
    margin: auto;
    width: 90%;
}
