
/*--------------------Title and Check Boxes------------------*/

.fa-check-square-o {
    color: #5cb85c;
    padding: 10px;
}

.fa-square-o {
    padding: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}


.col-sm-8 .sections h4 {
    float: right;
    text-align: right;
    line-height: 180%;
}

.col-sm-8 .sections h4 span {
    padding: 5px;
}

.col-sm-8 .sections h4 a {
    color: #5cb85c; 
}

.col-sm-8 .sections h4 a:hover {
    color: #3D3D3D;
    text-decoration: none;
}

/*---------------------Current User Styling---------------------*/

a .fa-check-square-o {
    color: white;
    padding: 2px;
}

a .fa-square-o {
    color: black;
    padding: 2px;
}

/*------------------------Comments--------------------------*/

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.comment-div {
    background-color: #F0F0F0;
    box-shadow: 0 0 1px black;
    padding: 15px;
    padding-right: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    position: relative;
}

.comment-div h5 {
    display: inline;
    padding: 5px;
    
}

.comment-div h5 a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5cb85c 
}

.comment-div h5 a:hover {
    text-decoration: none;
    color: #3D3D3D;
}

.comment-div .timesince {
    padding-left: 0px;
    margin-left: 0px;
    font-size: 11px;
}

.comment-div p {
    text-indent: 10px;
    line-height: 150%;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-div .fa-close {
    color: #CD0000;
    float: right;
    top: 8px;
    right: 8px;
    position: absolute;
}

.leave-comment {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/*--------------------------Form-----------------------------*/

.form-group textarea {
    width: 100%;
}

/*------------------------Site Content-------------------------*/

.sections {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
}

.sections h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}


/*-----------------------Recently Added--------------------*/

.recently-added-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.recently-added-list-item {
    background-color: #F0F0F0;
    padding: 10px 10px 25px 25px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
}

.recently-added-list-item h4 a{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color:black;
}

.recently-added-list-item .avatar-span {
    padding-left: 20px;
    padding-right: 5px;
}

.recently-added-list-item > a {
    color: #5cb85c;
    font-weight: bold;
    text-decoration: none;
}

.recently-added-list-item > a:hover {
    color: #3D3D3D;
}

.recently-added-list-item .fa-plus {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 10px;
}

.recently-added-list-item .date-added {
    font-size: 12px;
    float: right;
    padding-top: 8px;
}

