
/*------------------------Site Content-------------------------*/

.sections {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
}

.sections h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.sections h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.sections h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}



/*-------------------------Mylist Items------------------------*/

.mylist-items {
    background-color: #F0F0F0;
    padding: 10px 10px 25px 25px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    margin-bottom: 12px;
    overflow: hidden;
}

.mylist-items h4 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.mylist-items h4 a {
    color: #3D3D3D;
}

.mylist-items h4 a:hover {
    color: #5cb85c;
    text-decoration: underline;
}

/*-----------------------Number Highlights----------------------*/

.number {
    font-weight: bold;
    
}

.orange {
    color: #CD8162;
}


/*---------------------Top Five & Bottom Five ------------------*/

.most-least-difficult {
    width: 100%;
    display: inline-block;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    margin: 4px;
    margin-bottom: 15px;
    vertical-align: top;
    height: 100%;
}

@media only screen and (min-width : 650px) {
        
    .most-least-difficult {
        width: 48%;
        display: inline-block;
    }
}

/*----------------------Chartit Charts----------------------*/

.highcharts-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    
}

.chart-description {
    background-color: #F0F0F0;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    width: 90%;
}

/*----------------Analysing Your Yearly Income-------------*/

.side-note {
    background-color: #F0F0F0;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    margin: 4px;
}

.side-note h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
}

.tab-nav-width {
    width: 20%;
}

.tab-nav-width a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #3D3D3D;
}

.nav-tabs > li.active > a {
    color: #f0ad4e
}

.percent-tab-content {
    margin: auto;
    width: 90%;
}

/*----------Comparing Goal Types Custom Styling---------*/

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
  padding-bottom: 240px;
}

/*--------------Fixing Nav Tab Length-------------------*/

@media only screen and (min-width : 350px) {
    .tabs-left > .nav-tabs {
        padding-bottom: 120px;
    }
}

@media only screen and (min-width : 570px) {
    .tabs-left > .nav-tabs {
        padding-bottom: 0px;
    }
}

/*-------------End Fixing Nav Tab Length--------------*/


.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.tabs-left ul li a {
    font-size: 7px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #3D3D3D;
}

.nav-stacked {
   width: 35%;
}


@media only screen and (min-width : 610px) {
        
    .nav-stacked {
        width: 20%;
    }
    .tabs-left ul li a {
        font-size: 11px;
    }
}

@media only screen and (min-width : 500px) {
    .nav-stacked {
        width: 30%;
        }
}

@media only screen and (min-width : 350px) {
    .tabs-left ul li a {
    font-size: 9px;
    }
}

.comparing-goal-types-inner { 
    padding-top: 20px;
}

.comparing-goal-types-inner i a {
    color: #3D3D3D;
}

.comparing-goal-types-inner i a:hover {
    color: #5cb85c;
}

/*----------------------Styling Your End Date---------------------*/

.end-date-nav-tabs {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


.end-date-nav-tabs a {
    color: #3D3D3D;
}

.end-date-tab-width-4 {
    width: 24%;
}

.end-date-tab-width-5 {
    width: 19%;
}

.end-date-tab-width-6 {
    width: 16%;
}

.end-date-tab-width-7 {
    width: 14%;
}

.end-date-tab-width-8 {
    width: 12%;
}

/*-----------Responsive End Date Year Display----------------*/

@media only screen and (max-width : 580px) {
        
    .end-date-tab-width-8 .your-end-date-years {
        display: none;
    }
}

@media only screen and (max-width : 460px) {
        
    .end-date-tab-width-7 .your-end-date-years {
        display: none;
    }
}

@media only screen and (max-width : 410px) {
        
    .end-date-tab-width-6 .your-end-date-years {
        display: none;
    }
}

@media only screen and (max-width : 360px) {
        
    .end-date-tab-width-5 .your-end-date-years {
        display: none;
    }
}


/*--------------Responsive End Date Tabs Font Size--------------*/


@media only screen and (max-width : 550px) {
    .end-date-nav-tabs a {
        font-size: 10px;
    }
}

@media only screen and (max-width : 400px) {
    .end-date-nav-tabs a {
        font-size: 9px;
    }
}

@media only screen and (max-width : 360px) {
    .end-date-nav-tabs a {
        font-size: 8px;
    }
}

@media only screen and (max-width : 320px) {
    .end-date-nav-tabs a {
        font-size: 7px;
    }
}

@media only screen and (max-width : 310px) {
    .end-date-nav-tabs a {
        font-size: 6px;
    }
}

/*------------------------Retirement-------------------------*/

.retirement-tabs {
    width: 16.5%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.retirement-tabs a {
    color: #3D3D3D;
}

@media only screen and (max-width : 375px) {
    .percentage-tabs {
        font-size: 12px;
    }
}

@media only screen and (max-width : 340px) {
    .percentage-tabs {
        font-size: 10px;
    }
}

@media only screen and (max-width : 315px) {
    .percentage-tabs {
        font-size: 8px;
    }
}
