
/*------------------------Site Content-------------------------*/

.sections {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
}

.sections h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.sections h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
    text-decoration: underline;
}

.sections h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.email-me {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: right;
    width: 90%;
    font-size: 120%;
}

@media only screen and (max-width : 780px) {
    .sections h5 {
        width: 95%;
        font-size: 120%;
    }
}

@media only screen and (max-width : 580px) {
    .sections h5 {
        width: 100%;
        font-size: 120%;
    }
}

@media only screen and (max-width : 480px) {
    .sections h5 {
        width: 100%;
        font-size: 110%;
    }
}

@media only screen and (max-width : 400px) {
    .sections h5 {
        width: 100%;
        font-size: 100%;
    }
}

@media only screen and (max-width : 360px) {
    .sections h5 {
        width: 100%;
        font-size: 90%;
    }
}

@media only screen and (max-width : 320px) {
    .sections h5 {
        width: 100%;
        font-size: 80%;
    }
}


/*----------------------About Styling-------------------*/

.name-description {
    margin: auto;
    width: 90%;
}

.name-picture {
    height: 160px;
    width: 160px;
    float: right;
    padding: 12px;
}

@media only screen and (max-width : 550px) {
    .name-picture {
        height: 140px;
        width: 140px;
    }
}

@media only screen and (max-width : 460px) {
    .name-picture {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (max-width : 380px) {
    .name-picture {
        height: 100px;
        width: 100px;
        padding: 9px;
    }
}

.grey {
    color: #545454;
}

.orange {
    color: #CD8162;
}

.fa-quote-left {
    padding-right: 8px;
}

.fa-quote-right {
    padding-left: 8px;
}

.block-quote {
    width: 80%;
    margin: auto;
}

.mike {
    width: 75%;
    text-align: right;
}


/*-----------------------Recently Added--------------------*/

.recently-added-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    
}

.recently-added-list-item {
    background-color: #F0F0F0;
    padding: 10px 10px 25px 25px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    overflow: hidden;
}

.recently-added-list-item h5 a{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #3D3D3D;
}

.recently-added-list-item .avatar-span {
    padding-left: 20px;
    padding-right: 5px;
}

.recently-added-list-item > a {
    color: #5cb85c;
    font-weight: bold;
    text-decoration: none;
}

.recently-added-list-item > a:hover {
    color: #3D3D3D;
}

.recently-added-list-item .fa-plus {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 10px;
}

.recently-added-list-item .date-added {
    font-size: 12px;
    float: right;
    padding-top: 8px;
}

/*------------------Talked About------------------*/

.talked-about-title {
    overflow: hidden;
}

.talked-about-title a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #f0ad4e;
}

.talked-about-title a:hover {
    color: #3D3D3D;
}

.talked-about-div {
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    overflow: hidden;
}

.talked-about-div h6 a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 40px;
    color: #5cb85c;
}

.talked-about-div h6 a:hover {
    color: #3D3D3D;
    text-decoration: none;
}

/*---------------------Recently Completed------------------*/

.recently-completed ul {
    width: 100%;
}

.recently-completed ul li {
    font-family: 'Oswald', sans-serif;
    display:inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}

.recently-completed ul li a{
    color: #3D3D3D;
}

.recently-completed ul li span {
    color: #5cb85c;

}