
/*------------------------Imports---------------------------*/

@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
    

/*------------------------Navbar---------------------------*/

.nav-logo {
    padding: 4px;
    padding-left: 20px;
}

.navbar-right {
    padding-right: 20px;
}

.navbar-nav {
    padding-left: 16px;
}


@media only screen and (min-width : 767px) {
    .navbar-nav {
        padding-left: 80px;
    }
    
    #how-it-works {
        display: none;
    }
}


@media only screen and (max-width : 350px) {
    .nav-logo {
        width: 220px;
    }
    .nav-logo img {
        width: 100%;
    }
}

@media only screen and (max-width : 310px) {
    .nav-logo {
        width: 180px;
    }
    .nav-logo img {
        width: 100%;
    }
}

@media only screen and (max-width : 300px) {
    .nav-logo {
        width: 165px;
    }
    
    .nav-logo img {
        width: 100%;
    }
}
}

@media only screen and (min-width : 767px) {
    #calculate {
        display: none;
    }
    #add-goal {
        display: none;
    }
}

@media only screen and (min-width : 1050px) {
    #calculate {
        display: inline-block;
    }
    #add-goal {
        display: inline-block;
    }
}

@media only screen and (min-width : 840px) {
    .navbar-nav {
        padding-left: 55px;
    }
    
    #how-it-works {
        display: inline-block;
    }
}

.navbar-inverse {
    background-color: #333333;
}


.glyphicon-envelope {
  font-size: 1.4em;
}

.badge {
  font-size: 0.5em;
}

.navbar-right {
  border-top: 1px solid transparent;
  border-color: #101010;
}

.navbar-btn {
  padding-left: 3px;
}

/*-----------------------Body----------------------------*/

body {
  background-color: #E8E8E8;
}

/*-------------------Responsive Sticky Footer--------------------*/

.Site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;


}

/*---------------------------------Footer---------------------------*/

footer {
  margin-top: 15px;
  color: white;
  background-color: #3D3D3D;
  width: 100%;
  border-top: 5px solid #f0ad4e;
}

.footer-section {
  padding-left: 60px;
}

.footer-section ul {
    padding-left: 0;
}


footer h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-decoration: underline;
}

footer ul {
  list-style-type: none;
}

footer li a {
  color: white;
}

footer a:hover {
  color: white;
}

footer span {
  color: white;
  padding: 8px;
}

footer h5 {
  text-align: center;
}

footer h5 a {
  color: #f0ad4e;
}

footer .social-media span:hover {
  color: #f0ad4e;
}

footer .social-media a:hover {
  text-decoration: none;
}
