
/*------------------------Site Content-------------------------*/
.sections {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
}

.sections h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.sections h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.text-danger {
    color: #d9534f;
}

.fieldWrapper {
    width: 100%;
    margin: auto;
}

.sections ul li {
    list-style: none;
}

.sections .helper-text {
    background-color: #F0F0F0;
    padding: 10px 10px 10px 25px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    width: 85%;
}

/*-------------------------Register----------------------*/

.register #id_username {
    width: 100%;
    height: 32px;
}

.register #id_email {
    width: 100%;
    height: 32px;
}

.register #id_password1 {
    width: 100%;
    height: 32px;
}

.register #id_password2 {
    width: 100%;
    height: 32px;
}

.register .errorlist li {
 color: #d9534f;
 }