

<form action = "{{url}}" method = "post">{% csrf_token %}

{% for field in form %}
    <div class ="fieldWrapper">
        {{field.errors}}
        {% if field.label == 'cost' %}
            <label>Will this goal cost you any money (in USD)?</label>
        {% endif %}
        
        {% if field.label == 'time' %}
            <label>How many extra days of work will this take?</label>
        {% endif %}  
        
        {% if field.label == 'hours' %}
            <label>How many extra hours will this goal need to be accomplished?</label>
        {% endif %} 
        
        {{field}}
        
        {% if field.label == 'cost' %}
            <h5>If there is any monetary costs for this goal. Place an estimate of the amount here.          
            </h5>
        {% endif %}
        
        {% if field.label == 'time' %}
            <h5>How many full days will this take to accomplish. Keep in mind not to count what you do in your average day to day schedule, just days that you go above and beyond and dedicate the full day to the goal.
            </h5>
        {% endif %}
        
        {% if field.label == 'hours' %}
            <h5>How many hours above and beyond do you need to accomplish this goal.
            <br/>
            For example:  If your goal is to 'Make a Small Website for My Business' you might allocate ten hours a week for five weeks to reaching your goal.  If this was the case you would put 50 into the field above.
            </h5>
        {% endif %}
        
        <br/>

        
    </div>
{% endfor %}

<input type = "submit" name = "submit" value = "Create Bucket List Item">
</form>