

<form action = "{{url}}" method = "post">{% csrf_token %}

{% for field in form %}
    <div class ="fieldWrapper">
        {{field.errors}}
        {% if field.label == 'cost' %}
            <label>Will this goal cost you any money (in USD)?</label>
        {% endif %}
        
        {% if field.label == 'time' %}
            <label>How many full days of work will this take?</label>
        {% endif %}  
        
        {% if field.label == 'hours' %}
            <label>How many extra hours will this goal need to be accomplished?</label>
        {% endif %} 
        
        {{field}}
        
        {% if field.label == 'cost' %}
            <h5>If there is any monetary costs for this goal. Place an estimate of the amount here.          
            </h5>
        {% endif %}
        
        {% if field.label == 'time' %}
            <h5>How many full days will this take to accomplish. If your goal was to 'Learn How to Code a Website' there are week long bootcamps dedicated to learning coding.  In this case you would type in how many days long the course was.
            </h5>
        {% endif %}
        
        {% if field.label == 'hours' %}
            <h5>How many hours are required for you to meet this goal? In the previous example of 'Learn How to Code a Website' you could choose to teach yourself.  If this is the case you may decide to spend a few hours evey night for the next year to reach this goal.  If this is the case you would type 1095 in the blank (365 days a year times three hours a week)
            </h5>
        {% endif %}
        
        <br/>

        
    </div>
{% endfor %}

<input type = "submit" name = "submit" value = "Create Bucket List Item">
</form>