

<form action = "{{url}}" method = "post">{% csrf_token %}

{% for field in form %}
    <div class ="fieldWrapper">
        {{field.errors}}
        {% if field.label == 'cost' %}
            <label>Will this goal cost you any money (in USD)?</label>
        {% endif %}
        
        {% if field.label == 'time' %}
            <label>How many full days will this take you?</label>
        {% endif %}  
        
        {% if field.label == 'hours' %}
            <label>How many extra hours will this goal need to be accomplished?</label>
        {% endif %} 
        
        {{field}}
        
        {% if field.label == 'cost' %}
            <h5>If there is any monetary costs for this goal. Place an estimate of the amount here.          
            </h5>
        {% endif %}
        
        {% if field.label == 'time' %}
            <h5>How many full days will this take to accomplish. If your goal is 'To Run A Marathon' it will take a full day for the marathon alone.  If that were a case you would put a 1 in the blank.
            </h5>
        {% endif %}
        
        {% if field.label == 'hours' %}
            <h5>How many hours do you need to dedicate to this goal?  If you plan on exercising five hours a week for a year to meet your goal you would put a 260 here.
            </h5>
        {% endif %}
        
        <br/>

        
    </div>
{% endfor %}

<input type = "submit" name = "submit" value = "Create Bucket List Item">
</form>