
<form action = "{{url}}" method = "post">{% csrf_token %}

{% for field in form %}
    <div class ="fieldWrapper">
        {{field.errors}}
        {% if field.label == 'cost' %}
            <label>How much is your trip going to cost (in USD)?</label>
        {% endif %}
        
        {% if field.label == 'time' %}
            <label>How many days long will your trip be?</label>
        {% endif %}  
        
        {% if field.label == 'hours' %}
            <label>How many hours will your trip be?</label>
        {% endif %} 
        
        {{field}}
        
        {% if field.label == 'cost' %}
            <h5>Be sure to factor in all costs associated with this trip.  If you plan on accomplishing this goal at the same time as another travel goal only enter the additional cost, not the entire trip amount again.  
            <br/>
            For example: If 'Going to France' is an item already on your list and costs $2000 then adding 'See the Eiffel Tower' would likely not cost you any extra since you would already be there and you could enter a zero above.            
            </h5>
        {% endif %}
        
        {% if field.label == 'time' %}
            <h5>Enter the entire time length of your trip.</h5>
        {% endif %}
        
        {% if field.label == 'hours' %}
            <h5>This field is for hours of work this trip will require ahead of time or after the trip.
            <br>
            For example: If your goal is to refurbish a car and then road trip across the United States you would include the time refurbishing the car in this field.  If you think it would take ten hours a week for six weeks then you would enter 60 here.  
            </h5>
        {% endif %}
        
        <br/>

        
    </div>
{% endfor %}

<input type = "submit" name = "submit" value = "Create Bucket List Item">
</form>