{% extends "base.html" %}
{% load i18n %}
{% block title %}Password Recovery Sent{% endblock %}
{% block content %}

<link href="/media/static/css/custom_password_reset.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "sections">
                <h1>Password Reset</h1>
                <br>
                <p>{% blocktrans with ago=timestamp|timesince %}An email was sent to <strong>{{ email }}</strong> {{ ago }} ago. Use the link in it to set a new password.{% endblocktrans %}</p>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}
