{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<link href="{% static "css/custom_password_reset.css" %}" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "sections">
                <h1>Password Reset</h1>
                <br>
                {% if invalid %}{% url "password_reset_recover" as recovery_url %}
                    <p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
                {% else %}
                    <p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
                    <form method="post" action="{% url "password_reset_reset" token %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><br><input type="submit" value="{% trans "Set new password" %}" class = "btn btn-warning"></p>
                    </form>
        
            </div>
        </div>    
    </div>
</div>
    
	{% endif %}
{% endblock %}
