{% extends "base.html" %} 
{% load i18n %} 
{% block content %} 

<link href="/media/static/css/custom_messages.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-sm-8">
            <div class = "sections">
            
                <h1>{% trans "Compose Message"%}</h1>
                <form action="" method="post" id = "compose-message-form">
                {% csrf_token %} 
                {% for field in form %}
                    <div class = "fieldWrapper">
                        {{field.errors}}
                            <label>{{field.label}}</label>
                            {{field}}
                    </div>
                {% endfor %}
                <br>
                <input type="submit" value="{% trans "Send" %}" class = "btn btn-success"/>
                </form>
                <br>
            </div>
            <br>
        </div>
        <div class = "col-sm-4">
            <div class = "sections">
                <ul class="subnavilist">
                    <li><a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;{% trans "Inbox" %}</a></li>
                    <li><a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
                    <li><a href="{% url 'messages_compose' %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
                    <li><a href="{% url 'messages_trash' %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}