<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load avatar_tags %}
    {% load inbox %}
    {% inbox_count as mail_count %}

    <style>
        body {
            padding-top: 70px;
        }
    </style>
    
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
  
<body>
  
  <!------Navbar ---------->
  
<header class = "navbar navbar-inverse navbar-fixed-top" role = "banner">
    <div class = "container">
        <div class ="navbar-header">
            
            <button type = "button" class= "navbar-toggle" data-toggle = "collapse" data-target = "#dropdown">
                <span class = "sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                
            </button>
            
            <a href="/bucketlist/" class ="navbar-brand">Bucket List Calculator</a>
        </div><!-- End Navbar Header-->
        
        <div class = "collapse navbar-collapse" id = "dropdown">
            
            <ul class = "nav navbar-nav navbar-right" role = "navigation">
                <li><a href="/bucketlist/">Home</a></li>
                <li><a href="/bucketlist/mylist/">My List</a></li>
                <li><a href="/bucketlist/mylist/recommendation/">Recommendations</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/bucketlist/">{% avatar user 25 %}{{user}}</a></li>
                    <li><a href="/accounts/logout/">Sign Out</a></li>
                {% else %}
                    <li><a href="/accounts/login/">Sign In</a></li>
                {% endif %}
                {% if mail_count %}
                    <li><a href="/messages/inbox/">{{mail_count}}{% bootstrap_icon "envelope" %}</a></li>
                {% else %}
                    <li><a href="/messages/inbox/">{{mail_count}}{% bootstrap_icon "envelope" %}</a></li>
                {% endif %}
            </ul>      
            
        </div><!-- End Nav Contents -->
    </div><!-- End Container -->
</header>
  
        
  
  
  
  <!-------Content --------->
<div class = "container">
    {% block content %}
    {% endblock %}
    <hr>
    <hr>
    {% block sidebar %}
    {% endblock %}
</div>
    
    </body>
</html>