<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>
    

    {% load avatar_tags %}
    {% load inbox %}
    {% inbox_count as mail_count %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/static/bootstrap/js/bootstrap.min.js"></script>
    
    <link href = "/media/static/bootstrap/css/bootstrap.min.css" rel = "stylesheet" />
    <link href="/media/static/css/custom_base.css" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
  
<body class = "Site">
  
  <!------Navbar ---------->
  
<header class = "navbar navbar-inverse navbar-fixed-top" role = "banner">
    <div class = "container">
        <div class ="navbar-header">
            
            <button type = "button" class= "navbar-toggle" data-toggle = "collapse" data-target = "#dropdown">
                <span class = "sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                
            </button>
            
            <a href="/bucketlist/" class ="navbar-brand">BucketListCalculator</a>
        </div><!-- End Navbar Header-->
        
        <div class = "collapse navbar-collapse" id = "dropdown">
            
            <ul class = "nav navbar-nav" role = "navigation">
                {% if user.is_authenticated %}
                    <li>
                        <a href="/bucketlist/mylist/"> {% avatar user 25 %}   {{user}}</a>
                    </li>
                    <li>
                        <a href="/bucketlist/tutorial/">Tutorial</a>
                    </li>
                    {% if mail_count %}
                        <li>
                            <a href="/messages/inbox/"> <span class="glyphicon glyphicon-envelope"></span><span class="badge alert-danger"> {{mail_count}} </span></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/messages/inbox/"><span class="glyphicon glyphicon-envelope"></span></a>
                        </li>
                    {% endif %}
            </ul>
            <ul class = "nav navbar-nav navbar-right" role = "navigation">
                        <li>
                            <p class = "navbar-btn">
                                <a href="/bucketlist/mylist/recommendation/"  class = "btn btn-success"> <span class = "fa fa-calculator"> </span> Calculate!</a>
                                
                            </p>
                        </li>
                        <li>
                            <p class = "navbar-btn">
                                <a href="/bucketlist/create/"  class = "btn btn-warning"> <span class = "fa fa-pencil"> </span> Add a Goal</a>
                                
                            </p>
                        </li>
                        <li class = "dropdown">
                            <a href= "#" data-toggle = "dropdown" class = "dropdown-toggle"><span class = "fa fa-cog fa-lg"></span></a>
                            <ul class = "dropdown-menu">
                                <li><a href="/bucketlist/profile/edit/"> <span class = "fa fa-edit"> </span> Edit Profile </a></li>
                                <li><a href="/accounts/edit/"> <span class = "fa fa-gears"> </span> Account Settings</a></li>
                                <li class = "divider"></li>
                                <li><a href="/accounts/logout/"> <span class = "fa fa-sign-out"> </span> Sign Out</a></li>
                            </ul>
                        </li>
            </ul>
                {% else %}
                <li>
                    <a href="/bucketlist/tutorial/">How It Works</a>
                </li>
            </ul>     
            <ul class = "nav navbar-nav navbar-right" role = "navigation">
                    <li>
                        <p class = "navbar-btn">
                            <a href="/accounts/register/"  class = "btn btn-warning">Sign Up</a>
                        </p>
                    </li>
                    <li>
                        <p class = "navbar-btn">
                            <a href="/accounts/login/"  class = "btn btn-default"> <span class = "fa fa-sign-in"> </span> Sign In</a>
                        </p>
                    </li>
                {% endif %}
            </ul>
     
            
        </div><!-- End Nav Contents -->
    </div><!-- End Container -->
</header>
  
        
  
  
 <div class = "Site-content">
  <!-------Content --------->

{% block content %}
{% endblock %}
<hr>
<hr>
{% block sidebar %}
{% endblock %}
   
</div><!--end site-content-->

    <div id = "footer" class = "wrapper">
            <br>
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-4">
                        <h2>About Us</h2>
                        <ul>
                            <li><a href = "#">FAQ</a></li>
                            <li><a href = "#">About Us</a></li>
                            <li><a href = "#">Contact Us</a></li>
                            <li><a href = "#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class = "col-md-4">
                        <h2>Getting Around</h2>
                        <ul>
                            <li><a href = "/bucketlist/">Home</a></li>
                            <li><a href = "/bucketlist/mylist/">Your Profile</a></li>
                            <li><a href = "/bucketlist/profile/edit/">Edit Profile Info</a></li>
                            <li><a href = "/accounts/edit/">Edit Account Settings</a></li>
                        </ul>
                    </div>
                    <div class = "col-md-4">
                        <h2>Follow Us</h2>
                            <a href = "#"> <span class = "fa fa-facebook fa-2x"></span> </a>
                            <a href = "#"> <span class = "fa fa-twitter fa-2x"></span> </a>
                            <a href = "#"> <span class = "fa fa-github fa-2x"></span> </a>
                    </div>
                </div><!--end row-->
                <br>
                <div class = "row">
                    <div class = "col-xs-12 bottom-link">
                        <h5><a href= "/bucketlist/">BucketListCalculator.com</a> &copy; 2015</h5>
                    </div>
                </div>
            </div><!--end container-->
    </div><!--end footer-->
</body>
</html>