{% extends 'base.html' %}

{% block title %}Edit Your Account Settings{% endblock title %}
{% block content %}

<link href="/media/static/css/settings.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2">
            <div class = "sections edit-account">
                <h1>Edit Your Account Settings</h1>
                <br>
                <br>
                <form action = "/accounts/edit/" method = "post">{% csrf_token %}
                {% for field in form %}
                    <div class = "fieldWrapper">
                            {% if field.label == 'Password' %}
                                {{field.errors}}
                                <input id = "id_password" type = "password" name = "password" maxlength = "30" placeholder = "Password" required/>
                                <h5 class = "text-danger"><b>*Your password is required the rest are optional*</b></h5>
                                <br>
                                <br>
                            {% endif %}
                            {% if field.label == "Current Email Address" %}
                                {{field.errors}}
                                <input id = "id_email" type = "email" name = "email" maxlength = "30" placeholder = "Current Email"/>
                                <br>
                                <br>
                            {% endif %}
                            {% if field.label == "New Email Address" %}
                                {{field.errors}}
                                <input id = "id_new_email" type = "email" name = "new_email" maxlength = "30" placeholder = "New Email"/>
                                <br>
                                <br>
                            {% endif %}
                            {% if field.label == "New Password" %}
                                {{field.errors}}
                                <input id = "id_new_password1" type = "password" name = "new_password1" maxlength = "30" placeholder = "New Password"/>
                                <br>
                                <br>
                            {% endif %}
                            {% if field.label == "Confirm New Password" %}
                                {{field.errors}}
                                <input id = "id_new_password2" type = "password" name = "new_password2" maxlength = "30" placeholder = "Confirm New Password"/>
                                <br>
                                <br>
                            {% endif %}
                            
                    </div>
                {% endfor %}
                <br>
                <br>
                <input class = "btn btn-warning" type = "submit" value = "Edit" />

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}