{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock title %}
{% block content %}

<link href="{% static "css/settings.css" %}" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2">
            <div class = "sections register">

                <h2>Register</h2>
              
                <form action = "/accounts/register/" method = "post">{% csrf_token %}

               {% for field in form %}
                    <div class = "fieldWrapper">
               <br>
                    {% if field.label == "Username" %}
                        <input id = "id_username" type = "text" name = "username" maxlength = "19" pattern="[a-zA-Z0-9]+" placeholder = "Username (Letters and Numbers only)" required/>
                        {% if field.errors %}
                                <br>
                                <br>
                                {{field.errors}}                               
                        {% endif %}
                       
                       <br>
                       <br>
                        {% endif %}
                    {% if field.label == "email" %}
                        <input id = "id_email" type = "email" name = "email" maxlength = "50" placeholder = "Email" required/>
                        {% if field.errors %}
                                <br>
                                <br>
                                {{field.errors}}                               
                        {% endif %}
                       <br>
                       <br>

                    {% endif %}
                    {% if field.label == "Password" %}
                        <input id = "id_password1" type = "password" name ="password1" maxlength = "30" placeholder = "Password" required/>
                        {% if field.errors %}
                                <br>
                                <br>
                                {{field.errors}}                               
                        {% endif %}
                       <br>
                       <br>
                    {% endif %}
                    {% if field.label == "Password confirmation" %}
                        <input id = "id_password2" type = "password" name = "password2" maxlength = "30" placeholder = "Confirm Password" required/>
                        {% if field.errors %}
                                <br>
                                <br>
                                {{field.errors}}                               
                        {% endif %}
                       <br>
                       <br>
                    {% endif %}
                    {% if field.label == "privacy" %}
                       <p>         
                           <input id = "id_privacypolicy" type = "checkbox" name = "privacypolicy" required/>
                           I have read and agree with the <a href = "/bucketlist/terms/">Terms & Conditions</a> and <a href = "/bucketlist/privacypolicy/">Privacy Policy</a>
                       </p>
                        {% if field.errors %}
                                <br>
                                <br>
                                {{field.errors}}                               
                        {% endif %}
                        <br>
                       <br>
                    {% endif %}
                    </div>
               {% endfor %}
               
                <input type = "submit" value = "Register" class = "btn btn-warning" />
                

                </form>
               
            </div>
        </div>
    </div>
</div>

{% endblock content %}