{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block content %}

<link href="/media/static/css/settings.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "sections">

                <h2>Register</h2>
                
                <form action = "/accounts/register/" method = "post">{% csrf_token %}
                
                    {% for field in form %}
                        <div class = "fieldWrapper">
                            {{field.errors }}
                            {{field.label_tag}}
                            {{field}}
                            <br>
                            <br>
                            {% if field.help_text %}
                            <div class = "helper-text">
                                {{ field.help_text }}
                            </div>
                            <br>
                            {% endif %}
                        </div>
                  
                    {% endfor %}
               <br>
                <input type = "submit" value = "Register" class = "btn btn-warning" />

                </form>
               
            </div>
        </div>
    </div>
</div>

{% endblock content %}