{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About Us{% endblock title %}
{% block content %}
{% load avatar_tags %}

<link href="{% static "css/custom_about_us.css" %}" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "sections">
            
                <h1>About Us</h1>
                <br>
                <p>
                    This site was created with only one purpose in mind.  To help you reach your goals!  
                    <br>
                    <br>
                    <a href = "/bucketlist/">BucketListCalculator.com</a> allows users to create/customize their own personal bucket list and observe other users doing the same. It is centered around giving users time lines to reach their goals. Users can then use this information to create a plan of action for accomplishing their life goals.
                </p>
                <br>
                <h3>Michael Sullivan</h3>
                
                <p class = "name-description">
                    
                    Michael is the creator and founder of <a href = "/bucketlist/">BucketListCalculator.com</a>.  
                    <img src = "{% static "images/mike.jpg" %}" alt = "Mike" class = "name-picture"/>
                    After making his own Bucket List
                    and manually calculating the cost of all his goals Michael wanted to create a website that would streamline the process.  What started out as a small side project quickly turned into something much larger.  The site transitioned into something he is extremely passionate about and believes can help people all over the world to accomplish their life goals.
                    <br>
                    <br>
                    Michael currently is a freelance web developer based in Fargo, ND.  He continually works to improve the site while pursuing other interests and crossing items off his own Bucket List.
                </p>
                <br>
                <br>
                <p>
                    <div class = "block-quote">
                        <span class = "fa fa-quote-left fa-lg orange"></span><b class = "grey"><i>Thank you so much for visiting our site.  I hope you get as much enjoyment from using it as I did creating it for you.  Please feel free to email me personally if you have any questions, concerns, or if you just want to say hello!</i></b>
                        <span class = "fa fa-quote-right fa-lg orange"></span>
                    </div>
                    <br>
                    <br>
                    <h4 class = "text-success mike">-Mike Sullivan</h4>
                    <h5 class = "email-me">Mike@bucketlistcalculator.com</h5>
                </p>
                <br>
                <br>
            </div>
            <br>
        </div>
        
        <div class = "col-md-4">
            <div class = "sections">
                <h1>Recently Added</h1>
                <ul class = "recently-added-list">
                    {% for item in all_list_items %}
                        <li>
                            <div class = "recently-added-list-item">
                                <h5>
                                    <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                                </h5>
                                <span class="avatar-span">{% avatar item.pub_by 25%}</span>
                                <a href = "/bucketlist/userstats/{{item.pub_by}}">{{item.pub_by}}</a>
                                <span class = "date-added"><span class = "fa fa-plus"></span>{{item.pub_date|timesince}} ago</span>
                            </div>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock content %}