{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}
{% block content %}

<link href="/media/static/css/custom_about_us.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "sections">
            
                <h1>Contact Us</h1>
                
            </div>
            <br>
        </div>
        <div class = "col-md-4">
            <div class = "sections">
                <h1>Talked About</h1>
                    <br>
                    {% for comment in every_comment %}
                        <h4 class = "talked-about-title"><a href= "/bucketlist/item/{{comment.item.id}}/">{{comment.item}}</a></h4>
                        <div class = "talked-about-div">
                            <p><i><q>{{comment.body|truncatewords:30}}</q></i></p>
                            <h6><a href="/bucketlist/userstats/{{comment.author}}">-{{comment.author}}</a></h6>
                        </div>
                        <br>
                    {% endfor %}             
            </div>
        </div>
    </div>
</div>

{% endblock content %}