{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}
{% block content %}

<link href="/media/static/css/custom_about_us.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "sections">
            
                <h1>Contact Us</h1>
                <br>
                <p>
                    Have a question?  Want to let us know about something going on with the site?  You are in the right place.  Email any of your questions and concerns to <b class = "orange">Help@bucketlistcalculator.com</b> and we will get back to you as soon as possible.
                    <br>
                    <br>
                    
                </p>
                <p>If you would like to talk business or advertisement opportunities please contact Mike directly at <b class = "orange">Mike@bucketlistcalculator.com</b>. 
            </div>
            <br>
        </div>
        <div class = "col-md-4">
            <div class = "sections">
                <h1>Talked About</h1>
                    <br>
                    {% for comment in every_comment %}
                        <h4 class = "talked-about-title"><a href= "/bucketlist/item/{{comment.item.id}}/">{{comment.item}}</a></h4>
                        <div class = "talked-about-div">
                            <p><i><q>{{comment.body|truncatewords:30|urlize}}</q></i></p>
                            <h6><a href="/bucketlist/userstats/{{comment.author}}">-{{comment.author}}</a></h6>
                        </div>
                        <br>
                    {% endfor %}             
            </div>
        </div>
    </div>
</div>

{% endblock content %}