{% extends 'base.html' %}

{% block title %}Edit Bucket List Item{% endblock title %}
{% block content %}

<link href="/media/static/css/custom_edit_bucket_list_item.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "sections">
                
                <h1>Edit Your Goal</h1>
                <form action="/bucketlist/mylist/edit/{{id}}/" method = "post">
                {% csrf_token %}
                {% for field in form %}
                    <div class = "fieldWrapper">
                        
                        
                        {% if field.label == 'Text' %}
                            <label>What is your goal?</label>
                        {% endif %}
                        
                        {% if field.label == 'Goal type' %}
                            <label>Pick a what category your goal is: </label>
                        {% endif %}
                        
                        {% if field.label == 'Cost' %}
                            <label>Will this goal cost you any money (in USD)?</label>
                        {% endif %}
                        
                        {% if field.label == 'Time' %}
                            <label>How many full days will this take you?</label>
                        {% endif %}
                        
                        {% if field.label == 'Hours' %}
                            <label>How many hours will this goal take you?</label>
                        {% endif %}
                        
                        {{field}}
                        {{field.errors}}
                        <br>
                        <br>
                        
                        {% if field.label == 'Cost' %}
                            <h5 class = "description">If there is any monetary costs for this goal. Place an estimate of the amount here.          
                            </h5>
                        {% endif %}
                        
                        {% if field.label == 'Time' %}
                            <h5 class = "description">How many full days will this take to accomplish.  These are full days that you will dedicate only to reaching this goal.  Travel is a great example of a goal that requires full days to complete.
                            </h5>
                        {% endif %}
                        
                        {% if field.label == 'Hours' %}
                            <h5 class = "description">How many hours are required for you to meet this goal?  In this field you will only include hours that you can do in between other things.  In the previous example of travel entire days needed to be dedicated to reaching the goal.  In the example of 'Learn to Speak Italian' you would require more than a days worth of practice but it would be spread out over a larger period of time.  If your goal falls into this category then determine how many hours total this goal will take and place that amount here.
                            </h5>
                        {% endif %}
                        <br>
                    </div>
                {% endfor %}
                <br>
                <input type = "submit" name = "submit" value = "Edit Bucket List Item" class = "btn btn-warning">
                <br>
                </form>
                <br>
                <br>
                <p class="float-right">Would you like to permanently delete this bucket list item?  If so click <a href="/bucketlist/mylist/deleteitem/{{id}}/" class ="click-here btn btn-danger btn-xs">here</a></p>
                <br>
                <br>
            </div><!--sections-->
            <br>
        </div><!--end col-md-8-->
        <div class = "col-md-4">
            <div class = "sections comparing">
                <h1>Comparing Your Goal</h1>
                {% if exact_same_num > 1 %}

                       <p>It turns out that {{exact_same_num}} users already have this exact same goal!  Here is how difficult these thought this goal would be:
                            {% for item in exact_same_list %}
                                
                                <p class ="main-sentence"><a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> thinks that <a href="/bucketlist/item/{{item.id}}/"><i>{{item.text}}</i></a>:</p>
                                    <ul>
                                        <li>Falls under the category of <i>{{item.goal_type}}</i></li>
                                        <li>Will take {{item.pub_by}} ${{item.cost}} to accomplish</li>
                                        <li>Over {{item.hours}} hours to complete</li>
                                        <li>And {{item.time}} full days</li> 
                                    </ul>
                            {% endfor %}

                            
                {% elif exact_same_num > 0 %}

                        {% for item in exact_same_list %}
                        
                            <p class ="main-sentence">It turns out that you are not alone in this goal.  <a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> has this on their Bucket List as well.</p>
                            <p><a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> thinks that <a href="/bucketlist/item/{{item.id}}/"><i>{{item.text}}</i></a>:</p>
                                <ul>
                                    <li>Falls under the category of <i>{{item.goal_type}}</i></li>
                                    <li>Will take {{item.pub_by}} ${{item.cost}} to accomplish</li>
                                    <li>Over {{item.hours}} hours to complete</li>
                                    <li>And {{item.time}} full days</li> 
                                </ul>
                            
                            
                        {% endfor %}
                        
                {% else %}

                    {% if 65 > most_similar_accuracy %}
                        
                        <p>Normally this is the place that we show you some other users goals that are similar to yours.  But it doesn't seem like there is much out there.  This one must be awfully unique.  Yay for being an original! 
                        <br>
                        <br>
                        P.S.  Check back later. As more users add their goals to this site their is a larger database to search through and a higher likelihood that we will find a good similar to yours. 
                        </p> 
                        
                    {% else %}
                    <p>This is a pretty darn unique goal! Not one user on this website has the exact same one.  
                    </p>
                    <p>Here are the most similar goals we found and the users who posted them: </p>
                            {% for item, number in most_similar %}
                                
                                <p class ="main-sentence"><a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> thinks that <a href="/bucketlist/item/{{item.id}}/"><i>{{item.text}}</i></a>:</p>
                                    <ul>
                                        <li>Falls under the category of <i>{{item.goal_type}}</i></li>
                                        <li>Will take {{item.pub_by}} ${{item.cost}} to accomplish</li>
                                        <li>Over {{item.hours}} hours to complete</li>
                                        <li>And {{item.time}} full days</li>                        
                                    </ul>
                                    
                            {% endfor %}
                    {% endif %}
                       
                {% endif %}
                <br>
                {% if most_similar_accuracy >= 65 %}
                    <p>You could use these numbers to better estimate how difficult this goal will be for you to accomplish and how other users perceive the difficulty of the goal.</p>
                {% endif %}

            </div><!--end sections-->
        </div><!--end col-md-4-->
    </div><!--end row-->
</div><!--end container-->
{% endblock content %}