{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load avatar_tags %}

<link href="/media/static/css/custom_index.css" rel="stylesheet" type="text/css"/>

<div id = "banner">
    <h1 id = "slogan1">Don't Just <b>Dream</b></h1>
    <h1 id = "slogan2">About Your <b >Goals</b></h1>
    <div id = "site-purpose">
        <p class = "text-shadow">
            Make a List
                <span class = "glyphicon glyphicon-chevron-right text-warning"></span>
            Make a Plan
                <span class = "glyphicon glyphicon-chevron-right text-warning"></span>
            <span style = "text-decoration: underline;">Make it Happen!</span>
        </p>
    </div>
</div>
<div class = "pattern-divide">
    
</div>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-4">
                <div class = "sections">
                    <h1>Recently Added</h1>

                        <ul>
                        {% for item in all_list_items %}
                                <li><a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a></li>
                        {% endfor %}
                        </ul>
                        <br>
                </div><!--end sections -->
            </div><!--end recently added-->
            <div class = "col-md-4">
                <div class = "sections">
                    <h1>Most Talked About</h1>
                    <br>
                </div><!--sections-->
            </div><!--end most talked about-->
            <div class = "col-md-4">
                <div class = "sections">
                    <h1>Recently Completed</h1>

                        <ul>
                        {% for item in recently_crossed_off %}
                            <li><a href="/bucketlist/item/{{item.id}}/" style="text-decoration: line-through;">{{ item.text }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!--end sections-->
            </div><!--end recently added-->
        </div><!--end row-->
    <br>
    <br>
    <h1>Popular Users</h1>
        
    {% for key, values in new_users_by_activity.items %}
    <a href="/bucketlist/userstats/{{key}}/">{% avatar key %}</a>
    {% endfor %}

</div><!--end container -->
{% endblock content%}
