{% extends 'base.html' %}

{% block title %}{{item.text}} - {{ item.pub_by }}{% endblock title %}

{% block content %}
{% load humanize %}
{% load avatar_tags %}

<link href="/media/static/css/custom_index_items.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-sm-8">
            <div class = "sections">
            
            {% if item.crossed_off %}
                <h1><span class = "fa fa-check-square-o fa-lg"> </span>  {{item}}</h1>
            {% else %}
                <h1><span class = "fa fa-square-o fa-lg"> </span>   {{item}}</h1>
            {% endif %}
   
                <h4><span class = "fa fa-plus"> </span> Added by <a href='/bucketlist/userstats/{{item.pub_by}}/'>{{item.pub_by}}</a>
                <br>
                {{item.pub_date|date:"DATE_FORMAT"}}</h4>
                <h5>Cost:   <b>${{item.cost|floatformat:"2"|intcomma}}</b></h5>
                <h5>Days:   <b>{{item.time}}</b></h5>
                <h5>Hours: <b>{{item.hours}}</b></h5>
                <br>
                <hr>
                <br>
                <h2>Comments:</h2>
                <br>
                {% if comments %}
                    {% for comment in comments %}
                        <div>
                            <h3>{{comment.author}}</h3>
                            {% avatar comment.author 30 %}
                            <h5>{{ comment.created|timesince}}</h3>
                            <p>{{comment.body}}</h3>
                            {% if comment.author == current_user %}
                                <button><a href="/bucketlist/item/{{comment.id}}/delete-comment/">Remove Comment</a></button>
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>There are no comments yet.  Be the first to add one!</p>
                {% endif %}
                <h5>Leave a Comment Here</h5>
                <form action="/bucketlist/item/{{id}}/" method = "post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        <br>
                    {% endfor %}
                    <input type = "submit" value = "Submit">
                </form>
                </div><!--end sections-->
                <br>
            </div><!--end col-sm-8-->
            
            <div class = "col-sm-4">
            
                <!--Recently Added-->
                <div class = "sections">
                    <h1>Recently Added</h1>
                        <ul class = "recently-added-list">
                            {% for item in all_list_items %}
                                <li>
                                    <div class = "recently-added-list-item">
                                        <h4>
                                            <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                                        </h4>
                                        <span class="avatar-span">{% avatar item.pub_by 25%}</span>
                                        <a href = "/bucketlist/userstats/{{item.pub_by}}">{{item.pub_by}}</a>
                                        <span class = "date-added"><span class = "fa fa-plus"></span>Added at {{item.pub_date|date:"f A"}}</span>
                                    </div>
                                </li>
                                <br>
                            {% endfor %}
                        </ul>
                        <br>
                </div><!--end Recently Added -->
        </div><!--End col-sm-4-->
    </div><!--End Row-->
</div><!---End Container-->
{% endblock content %}