{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load avatar_tags %}

<link href="/media/static/css/custom_index.css" rel="stylesheet" type="text/css"/>

<!------------------------Banner------------------------->

<div id = "banner">
    <h1 id = "slogan1">Don't Just <b>Dream</b></h1>
    <h1 id = "slogan2">About Your <b >Goals</b></h1>
    <div id = "site-purpose">
        <p class = "text-shadow">
            Make a List
                <span class = "glyphicon glyphicon-chevron-right text-warning"></span>
            Make a Plan
                <span class = "glyphicon glyphicon-chevron-right text-warning"></span>
            <span style = "text-decoration: underline;">Make it Happen!</span>
        </p>
    </div><!--end site purpose-->
</div><!--end banner-->

<div class = "pattern-divide">
</div>

<!-----------------------Site Content------------------------>

    
    <div class = "container">
        <div class = "row">  
            
            <!--How It Works-->
            <div class = "col-md-12">
            
                <!--How It Works-->
                <div class = "sections how-it-works">
                    <h1>How It Works</h1>
                    <br>
                    <br>
                    
                    <div class = "how-it-works-div">
                        <h4>Make A Profile</h4>
                        <a href="/bucketlist/tutorial/">
                            <span class = "fa fa-user fa-4x"></span>
                        </a>
                    </div>
                    
                    <div class = "how-it-works-div">
                        <h4>Add Your Bucket List</h4>
                        <a href="/bucketlist/tutorial/">
                            <span class = "fa fa-list fa-4x"></span>
                        </a>
                    </div>
                    
                    <div class = "how-it-works-div">
                        <h4>Calculate</h4>
                        <a href="/bucketlist/tutorial/">
                            <span class = "fa fa-calculator fa-4x"></span>
                        </a>
                    </div>
                    
                    <div class = "how-it-works-div">
                        <h4>Go Accomplish Your Goals!</h4>
                        <a href="/bucketlist/tutorial/">
                            <span class = "fa fa-check-square fa-4x"></span>
                        </a>
                    </div>
                   
                    <br>
                    <br>
                    <br>
                </div><!--end How It Works-->
                <br>
            </div>
            
        </div><!--end row-->
        <div class = "row">
            <div class = "col-md-8">
                <!--Featured Users-->
                <div class = "sections featured-users">
                    <h1>Featured Users</h1>
                    <br>
                        {% for key, values in new_users_by_activity.items %}
                            <div class= "featured-user-div">
                                <a href="/bucketlist/userstats/{{key}}/">
                                    {% avatar key  350 %}
                                    <p>{{key}}</p>
                                </a>
                            </div>
                            
                        {% endfor %}   
                </div><!--end Featured Users-->
                <br>
                <!--Recently Completed-->
                <div class = "sections recently-completed">
                    
                    <h1>Recently Completed</h1>
                        <ul>
                        {% for item in recently_crossed_off %}
                            <li>
                                <span class = "fa fa-check-square-o fa-2x"></span>
                                <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                </div><!--end Recently Completed-->
                <br>
                <div class = "sections">
                    <h1>Talked About</h1>
                    <br>
                    {% for comment in every_comment %}
                        <h4 class = "talked-about-title"><a href= "/bucketlist/item/{{comment.item.id}}/">{{comment.item}}</a></h4>
                        <div class = "talked-about-div">
                            <p><i><q>{{comment.body|truncatewords:30}}</q></i></p>
                            <h6><a href="/bucketlist/userstats/{{comment.author}}">-{{comment.author}}</a></h6>
                        </div>
                        <br>
                    {% endfor %}
                </div><!--end Talked About-->
                <br>
            </div><!--end col-sm-8-->

            <!-------------Start Sidebar---------------------->
            <div class = "col-md-4">
            
                <!--Recently Added-->
                <div class = "sections">
                    <h1>Recently Added</h1>
                        <ul class = "recently-added-list">
                            {% for item in all_list_items %}
                                <li>
                                    <div class = "recently-added-list-item">
                                        <h5>
                                            <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                                        </h5>
                                        <span class="avatar-span">{% avatar item.pub_by 25%}</span>
                                        <a href = "/bucketlist/userstats/{{item.pub_by}}">{{item.pub_by}}</a>
                                        <span class = "date-added"><span class = "fa fa-plus"></span>{{item.pub_date|timesince}} ago</span>
                                    </div>
                                </li>
                                <br>
                            {% endfor %}
                        </ul>
                        <br>
                </div><!--end Recently Added -->
                <br>
                <!--Talked About-->

            </div><!--end col-sm-4-->
            
            
        </div><!--end row-->
        
       
          



</div><!--end main container -->
{% endblock content%}
