{% extends 'base.html' %}

{% block title %}{{item.text}}{% endblock title %}

{% block content %}
{% load humanize %}
{% load avatar_tags %}

<link href="/media/static/css/custom_index_items.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-sm-8">
            <div class = "sections">
            
            {% if item.crossed_off %}
                <h1><span class = "fa fa-check-square-o fa-lg"> </span>  {{item}}</h1>
            {% else %}
                <h1><span class = "fa fa-square-o fa-lg"> </span>   {{item}}</h1>
            {% endif %}
   
                <h4><span class = "fa fa-plus"> </span> Added by <a href='/bucketlist/userstats/{{item.pub_by}}/'>{{item.pub_by}}</a>
                <br>
                {{item.pub_date|date:"DATE_FORMAT"}}</h4>
                <h5>Cost:   <b>${{item.cost|floatformat:"2"|intcomma}}</b></h5>
                <h5>Days:   <b>{{item.time}}</b></h5>
                <h5>Hours: <b>{{item.hours}}</b></h5>
                <br>
                {% if item.pub_by == user %}
                    <a href = "/bucketlist/mylist/edit/{{item.id}}/" class = "btn btn-warning btn-sm">Edit</a>
                    
                    {% if item.crossed_off %}
                        <a href = "/bucketlist/mylist/uncross/{{item.id}}/" class = "btn btn-default btn-sm"><span class = "fa fa-square-o"> </span>Uncheck Item</a>
                    {% else %}
                        <a href = "/bucketlist/mylist/crossoff/{{item.id}}/" class = "btn btn-sm btn-success"><span class = "fa fa-check-square-o"> </span>Check It Off</a>
                    {% endif %}          
                {% endif %}
                <hr>
                <br>
                <h2>Comments:</h2>
                <br>
                {% if comments %}
                    {% for comment in comments %}
                        <div class = "comment-div">
                            <h5>{% avatar comment.author 40 %}</h5>
                            <h5><a href = "/bucketlist/userstats/{{comment.author}}/">{{comment.author}}</a></h5>
                            <h5 class ="timesince">{{ comment.created|timesince}} ago.</h3>
                            <br>
                            <br>
                            <p>{{comment.body}}</h3>
                            {% if comment.author == current_user %}
                                <a href="/bucketlist/item/{{comment.id}}/delete-comment/"><span class = "fa fa-close"></span></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <br>
                    <hr>
                    <br>
                {% else %}
                    <p>There are no comments yet.  Be the first to add one!</p>
                {% endif %}
                <h5 class = "leave-comment">Leave a Comment Here: </h5>
                <br>
                <form action="/bucketlist/item/{{id}}/" method = "post" role = "form">
                    <div class = "form-group">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.errors }}
                                {{ field }}
                            <br>
                        {% endfor %}
                        <br>
                        <input type = "submit" value = "Submit" class="btn btn-warning">
                    </div>
                    <br>
                </form>
                </div><!--end sections-->
                <br>
                <br>
            </div><!--end col-sm-8-->
           
            


           
            <div class = "col-sm-4">
    
                <!--Recently Added-->
                <div class = "sections">
                    <h1>Recently Added</h1>
                        <ul class = "recently-added-list">
                            {% for item in all_list_items %}
                                <li>
                                    <div class = "recently-added-list-item">
                                        <h4>
                                            <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                                        </h4>
                                        <span class="avatar-span">{% avatar item.pub_by 25%}</span>
                                        <a href = "/bucketlist/userstats/{{item.pub_by}}">{{item.pub_by}}</a>
                                        <span class = "date-added"><span class = "fa fa-plus"></span>Added at {{item.pub_date|date:"f A"}}</span>
                                    </div>
                                </li>
                                <br>
                            {% endfor %}
                        </ul>
                        <br>
                </div><!--end Recently Added -->
        </div><!--End col-sm-4-->
    </div><!--End Row-->
</div><!---End Container-->
{% endblock content %}