{% if user %}
    <br/>
    <h1>{{user}}'s Bucket List Statistics</h1>
    {% if personal_list %}
        <br/>
        <h4>List Items: </h4><p>{{personal_list.count}}</p>
        <h4>Total Cost: </h4><p>{{ total_cost }}</p>
        <h4>Total Time (In Days): </h4><p>{{ total_time }}</p>
        <h4>Cost Per List Item: </h4><p>{{cost_per_list_item}}</p>
        <h4>Time Per List Item: </h4><p>{{time_per_list_item}}</p>
        <h4>List Items Crossed Off: </h4><p>{{total_crossed_off}}</p>
    {% else %}
        <p>You don't have any Bucket List items yet!  Better get on that.</p>
    {% endif %}
    
{% else %}
    <p>Sorry, it doesn't seem like you are logged in!</p>
{% endif %}