{% extends 'base.html' %}

{% block title %}Item Created{% endblock title %}

{% block content %}
{% load humanize %}

<h1>{{item}}</h1>
<br>
<br>
{% if exact_same_num > 1 %}

       <p>It turns out that {{exact_same_num}} users already have this exact same goal!  Here is how difficult these thought this goal would be:
            {% for item in exact_same_list %}
                
                <p><a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> thinks that <a href="/bucketlist/item/{{item.id}}/"><i>{{item.text}}</i></a>:</p>
                    <ul>
                        <li>Falls under the category of <i>{{item.goal_type}}</i></li>
                        <li>Will take {{item.pub_by}} ${{item.cost|floatformat:"2"|intcomma}} to accomplish</li>
                        <li>Over {{item.hours}} hours to complete</li>
                        <li>And {{item.time}} full days</li> 
                    </ul>
            {% endfor %}

            
{% elif exact_same_num > 0 %}

        {% for item in exact_same_list %}
        
            <p>It turns out that you are not alone in this goal.  <a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> has this on their Bucket List as well.</p>
            <p><a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> thinks that <a href="/bucketlist/item/{{item.id}}/"><i>{{item.text}}</i></a>:</p>
                <ul>
                    <li>Falls under the category of <i>{{item.goal_type}}</i></li>
                    <li>Will take {{item.pub_by}} ${{item.cost|floatformat:"2"|intcomma}} to accomplish</li>
                    <li>Over {{item.hours}} hours to complete</li>
                    <li>And {{item.time}} full days</li> 
                </ul>
            
            
        {% endfor %}
        
{% else %}

    {% if 65 > most_similar_accuracy %}
        
        <p>Congrats!  Your goal has successfully been created.
        </p> 
        
    {% else %}
    <p>This is a pretty darn unique goal! Not one user on this website has the exact same one.  
    </p>
    <p>Here are the most similar goals we found and the users who posted them: </p>
            {% for item, number in most_similar %}
                
                <p><a href= "/bucketlist/userstats/{{item.pub_by}}/">{{item.pub_by}}</a> thinks that <a href="/bucketlist/item/{{item.id}}/"><i>{{item.text}}</i></a>:</p>
                    <ul>
                        <li>Falls under the category of <i>{{item.goal_type}}</i></li>
                        <li>Will take {{item.pub_by}} ${{item.cost|floatformat:"2"|intcomma}} to accomplish</li>
                        <li>Over {{item.hours}} hours to complete</li>
                        <li>And {{item.time}} full days</li>                        
                    </ul>
                    
            {% endfor %}
    {% endif %}
       
{% endif %}
<br>
{% if most_similar_accuracy >= 65 %}
    <p>You could use these numbers to better estimate how difficult this goal will be for you to accomplish and see how other users perceive the difficulty of the goal.</p>
{% endif %}

<br>
<h5>Edit This List Item:</h5>
<button><a href="/bucketlist/mylist/edit/{{item.id}}/">Edit</a></button>
<br>
<h5>Go Back to MyList:</h5>
<button><a href="/bucketlist/mylist/">My List</a></button>
<br>


{% endblock content %}