{% extends 'base.html' %}
{% block title %}Your Bucket List{% endblock title %}
{% block content %}
{% load avatar_tags %}

<link href="/media/static/css/custom_mylist.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "sections profile-sections">
                <div class = "profile-header">
                    {% avatar user 130 %}
                </div>
                <div class = "profile-header">
                    <h1>{{user1}}'s Bucket List</h1>
                    <h6><a href= "/bucketlist/profile/edit/">EDIT</a></h6>
                    <p>{{goals_to_complete}} goals left to complete</p>
                </div>                
                <a href="/bucketlist/create/" class = "btn btn-warning bottom-buttons">Add Goal</a>

                    
            </div><!--end first sections-->
            <br>
            <div class = "sections">
                <h1>Goals</h1>
                {% if personal_list %}  
                {% if repeat != 0 %}
                    <h4 class= "text-danger">If looks like you have more than one instance of <i>{{repeat}}</i> on your Bucket List.  Better remove one of them!</h4>
                    <br>
                {% endif %}
                    <ul class ="goals-list">
                    {% for item in personal_list %}
                        {% if item.crossed_off == True %}
                            <li>
                                <span class ="fa fa-check-square-o fa-lg"> </span>
                                <a href = '/bucketlist/item/{{item.id}}/'> {{ item.text }}</a>
                            </li>
                        {% else %}
                            <li>
                                <span class ="fa fa-square-o fa-lg">  </span>
                                <a href = '/bucketlist/item/{{item.id}}/'> {{ item.text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>You don't have any Bucket List items yet!  Better get on that.</p>
                {% endif %}
                <br/>
            </div><!--end second sections-->
            <br>
        </div><!--end col-md-8-->
        
        <div class = "col-md-4">
            <div class = "sections">
                <h1>Other Stuff Here</h1>
                <p>
                    There are words and stuff here!  Im not sure what will be here in the future, but it will sure be something!
                </p>
            </div>
        </div><!--end col-md-4-->
    </div><!--end row-->
</div><!--end container-->
<br>

    
    
    
    
    
    
    
    
    <h5>Create a Bucket List Item:</h5>
    <button><a href="/bucketlist/create/">Create</a></button>
    <br/>
    <h5>Your Profile Page:</h5>
    <button><a href="/bucketlist/userstats/{{user}}">Profile</a></button>
    <br/>
    <h5>Your Recommendation Page:</h5>
    <button><a href="/bucketlist/mylist/recommendation/">Recommendation</a></button>
    <br/>
    <h5>Change Your Avatar:</h5>
    <button><a href="{% url 'avatar_change' %}">Change Avatar</a></button>
    <br/>
    <h5>Edit Your Account Settings:</h5>
    <button><a href="/accounts/edit/">Edit Account</a></button>
    <br/>
    <h5>Edit Your Profile:</h5>
    <button><a href="/bucketlist/profile/edit/">Edit Profile</a></button>
    <br/>
    
            </div>
        </div>
    </div>
</div>

{% endblock content %}