{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Your Bucket List{% endblock title %}
{% block content %}
{% load avatar_tags %}

<link href="{% static "css/custom_mylist.css" %}" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "sections profile-sections">
                <div class = "profile-header">
                    {% avatar user 130 %}
                </div>
                <div class = "profile-header">
                    <h1>{{user1}}'s Bucket List</h1>
                    <h6><a href= "/bucketlist/profile/edit/">EDIT</a></h6>
                    <p>{{goals_to_complete}} goals left to complete</p>
                </div>
                <div class="bottom-buttons">
                    <a href="/bucketlist/mylist/recommendation/" class = "btn btn-success"><span class = "fa fa-calculator"> </span> Calculate!</a>
                    <a href="/bucketlist/create/" class = "btn btn-warning"><span class = "fa fa-pencil"> </span> Add Goal</a>
                </div>

                    
            </div><!--end first sections-->
            <br>
            <div class = "sections">
                <h1>Goals</h1>
                {% if personal_list %}  
                {% if repeat != 0 %}
                    <h4 class= "text-danger">If looks like you have more than one instance of <i>{{repeat}}</i> on your Bucket List.  Better remove one of them!</h4>
                    <br>
                {% endif %}
                    <ul class ="goals-list">
                    {% for item in personal_list %}
                        {% if item.crossed_off == True %}
                            <li>
                                <span class ="fa fa-check-square-o fa-lg"> </span>
                                <a href = '/bucketlist/item/{{item.id}}/'> {{ item.text }}</a>
                            </li>
                        {% else %}
                            <li>
                                <span class ="fa fa-square-o fa-lg">  </span>
                                <a href = '/bucketlist/item/{{item.id}}/'> {{ item.text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>You don't have any Bucket List items yet!  Better get on that.  Click <a href="/bucketlist/create/">here</a> to add a goal to your Bucket List!</p>
                {% endif %}
                <br/>
            </div><!--end second sections-->
            <br>
        </div><!--end col-md-8-->
        
        <div class = "col-md-4">
            <div class = "sections">
                   <h1>Talked About</h1>
                    <br>
                    {% for comment in every_comment %}
                        <h4 class = "talked-about-title"><a href= "/bucketlist/item/{{comment.item.id}}/">{{comment.item}}</a></h4>
                        <div class = "talked-about-div">
                            <p><i><q>{{comment.body|truncatewords:30|urlize}}</q></i></p>
                            <h6><a href="/bucketlist/userstats/{{comment.author}}">-{{comment.author}}</a></h6>
                        </div>
                        <br>
                    {% endfor %}
            </div>
        </div><!--end col-md-4-->
    </div><!--end row-->
</div><!--end container-->
<br>

{% endblock content %}