{% extends 'base.html' %}

{% block title %}Your Recommendations{% endblock title %}

{% block content %}

<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>


{% load chartit %}
{{ charts|load_charts:"UsersGoalDistributionChart, AllUsersGoalDistributionChart, UsersGoalCostDistributionChart, AllUsersGoalCostDistributionChart, UsersGoalHoursDistributionChart, AllUsersGoalHoursDistributionChart, UsersGoalDaysDistributionChart, AllUsersGoalDaysDistributionChart" }}


<h1>{{user.user}}'s Recommendations</h1>

<p>Great job on making your Bucket List!  Now it's time for the real fun: Statistics and Recommendations!  Yay.  Let's get down to business.</p>
<hr>
<br/>
<!-----------Displayed Statistics------------->
<p>Total Cost: {{total_cost}}</p>
<p>Total Hours: {{total_hours}}</p>
<p>Total Days: {{total_time}}</p>
<p>Total Number of Items Left on List: {{total_number_of_items}}</p>
<p>Your age: {{age}}</p>
<p>Your Life Expectancy: {{life_expectancy}}</p>
<p>Your Yearly Earnings: {{yearly_earnings}}</p>
<p>Your Hourly Wage: {{hourly_wage}}</p>
<p>Your Average Hours Per Week: {{work_hours_per_week}}</p>
<br>
<hr>
<!-------------Basic Overview-------------->
<br>
<h2>Basic Overview</h2>
<br>
<p>In order to finish all of items left on your list by the age of {{life_expectancy}} then you need to accomplish  about {{accomplish_per_year}} goals each year until you are {{life_expectancy}} years old.  In other words you need to accomplish a goal about every {{days_per_goal}} days.
<br>
<br>
 In order to accomplish everything that you want you will need to dedicate about ${{cost_per_year}} per year.  This is the equivalent of {{percent_of_yearly_wage}}% of your current yearly income.  
 <br>
 <br>
 The cost of the average goal on your bucket list is {{cost_of_average_goal}}.
 <br>
 <br>
 You have {{years_left}} more years to accomplish all of your goals.  Which means you need to dedicate about {{days_per_year}} full days every year doing things that will help you cross off Bucket List Goals. 
 <br>
 <br>
 Now along with those full days you also should allocate about {{hours_per_month}} hours every month to accomplishing these goals.  Or roughly {{hours_per_week}} hours every single week.
 <br>
 <br>
 But this is just general stuff.  Lets get more specific!
 </p>
 <br>
 <hr>
  <!------------Most Difficult Goal-------------->
 <br>
 <h2>Your Most Difficult Goal</h2>
 <br>
  <p>Not all goals take the same amount of effort.  For example according to the data you entered <i>{{most_difficult_goal}}</i> is your most difficult goal.  This goal is  {{most_difficult_percentage_harder}} times more difficult than your average goal! That could be a rough one.  But we believe in you.
  <br>
  <br>
  Not only is this goal {{most_difficult_percentage_harder}} times harder than your average goal but it makes up {{most_difficult_goal_percentage}}% of all of the time, money, and resources you need to put into accomplishing everything on your entire Bucket List.  If you want to finish your goals in exact {{years_left}} years, by the age of {{life_expectancy}} more years you could take {{years_needed_for_most_difficult}} years to accomplish only this goal and still be on pace to accomplish everything else!
  <br>
  <br>
  Now lets see how <i>{{most_difficult_goal}}</i> stacks up against everyone else's goals:
  <br>
  <ul>
      <li>
      {% if most_difficult_percentage_of_average_cost > 10 %}
        
            Now that's an expensive goal!  It's {{most_difficult_percent_of_yearly}}% of your annual income.  At ${{most_difficult_bucket_list_item.cost}} <i>{{most_difficult_goal}}</i> is more expensive than {{most_difficult_more_cost_than}}% of the goals on Bucket List Calculator.  Its even  {{most_difficult_percentage_of_average_cost}} times more expensive than the average goal 
            
      {% elif most_difficult_percentage_of_average_cost > 3 %}
            
            This one sure going to cost you!  At {{most_difficult_percentage_of_average_cost}} times larger than the average users goal, and {{most_difficult_percent_of_yearly}}% of your annual income this is even more costly than {{most_difficult_more_cost_than}}% of all goals on all of Bucket List Calculator.
            
      {% elif most_difficult_percentage_of_average_cost > 0.6 %}
                        
             This is going to be quite the costly goal.  It's larger than {{most_difficult_more_cost_than}}% of all the goals on Bucket List Calculator.  It also equates to {{most_difficult_percentage_of_average_cost}}% of your annual income. 
                          
      {% else %}
      
            Your goal is more expensive than {{most_difficult_more_cost_than}}% of all the in progress goals on Bucket List Calculator.  It costs {{most_difficult_percentage_of_average_cost}}% of your annual income.    
            
      
      {% endif %}

      
      </li>
      <br>
      <li>
      This will take more hours to accomplish than {{most_difficult_more_hours_than}}% of all the Bucket List  Goals on this website. 
      
      {% if most_difficult_percentage_of_average_hours > 1 %}
      
            You have projected that <i>{{most_difficult_goal}}</i>  will take {{most_difficult_bucket_list_item.hours}}  hours to accomplish,  or {{most_difficult_percentage_of_average_hours}} times more hours than the average users goal.  
            
            {% if most_difficult_percentage_of_average_hours > 3 %}
            
                In order to put that into perspective a little bit better the average goal on this site would take about {{average_goal_average_hours_per_year}} hours a week for an entire year to accomplish.  In your case it would take {{most_difficult_average_hours_per_year}} every week.
                
                
                {% if most_difficult_percentage_of_average_hours > 5 %}
                
                That's quite the goal!  Sounds like it will be a ton of work.  We bet it will be worth it though.
                
                {% endif %}
                
            {% endif %}
            
      {% endif %}
      </li>
      <br>
      <li>
      Your goal will take more full days dedicated to it than {{most_difficult_more_days_than}}% of all the goals on this website.
      
      {% if most_difficult_percentage_of_average_time > 2 %}
      
            Most users goals take around {{average_time_of_all_goals}} full days.  Coming it at {{most_difficult_bucket_list_item.time}} full days 
            
                {% if most_difficult_percentage_of_average_time > 4 %}
                    
                        ({{most_difficult_percentage_of_average_time}} times more days than the average goal) this goal is going to require some serious time set aside to accomplish!  Good luck.
                        
                {% else %}

                        this goal is going to take a while!
                
                {% endif %}
      
      {% endif %}
      
      </li>
  </ul>
  </p>
  <br> 
  <hr>
  <!---------List of Most and Least Difficult----->
  <br>
 <h2>Top Five Most Difficult</h2>
 <ol>
 {% for item in top_five_most_difficult %}
    <li>{{item}}</li>
 {% endfor %}
 </ol>
 <br>
  <br>
 <h2>Top Five Least Difficult</h2>
 <ol>
 {% for item in bottom_five_least_difficult %}
    <li>{{item}}</li>
 {% endfor %}
 </ol>
 <br>
 <br>
 <hr>
 <!---------Annual Income and Wage Increase------>
 <br>
 <h2>Analysing Your Yearly Income</h2>
 <br>
 <p>Unfortunately for most of us when it comes to our Bucket List goals money is the bottleneck.  We want to do it all!  But doing it all can cost quite a bit.  But that is where Bucket List Calculator comes in.  We can give you a better outline to accomplish using all of the information you have so graciously provided:
 <br>
 <br>
 <ul>  
        {% if 15000 > annual_salary_left %}
            <br>
            <li>
                This is a warning:  According to the of goals on your list and 
                your current annual income it appears that if you do accomplish everything on your list it will put you underneath an average liveable wage for a single person.       
            </li>
            
            
        {% endif %}       
    <br>
    <li>
        According to your projections your goals will cost you an average of ${{cost_per_year}} per year.  This is the equivalent of {{percent_of_yearly_wage}}% of your current yearly income.
        
        {% if 10 > percent_of_yearly_wage %}
        
            This is excellent!  At this percent of your yearly income everything on your Bucket List should be a breeze to pay for.  You could even go check out some of our other awesome users goals and find some things to add. 
            
        {% elif 25 > percent_of_yearly_wage %}
        
            This range of income is totally doable.  You may have to do some financial planning but as long as you are focused you should have no issues whatsoever.  It will work out just great for you, don't you worry!
            
        {% elif 50 > percent_of_yearly_wage %}
        
            This is a fairly large percentage of your yearly income.  In order to cross off everything on your Bucket List you will need some dedication to financial planning and be able to live well within your means to help save money for your goals.  With that said, congrats!  You have some mighty big dreams and that's pretty neat.
            <br>
            <br>
            This might be a little bit intimidating for you after all ${{cost_per_year}} per year is a lot of money.  But it is important for you to see these numbers so you can make a better plan to accomplish everything.  But we urge you not to remove any items from your list.  Instead of removing items first look for other ways to improve your financial situation.  If you increase the age you hope to be done with all the items on your bucket list of that {{percent_of_yearly_wage}}% of your annual wage will drop significantly.  You can do this by editing your user profile.  Along with that if your annual wage increases, even by a small amount, it can drastically change what percentage of your income you need to dedicate to accomplishing your goals. 
            
        {% elif 75 > percent_of_yearly_wage %}
        
            Now those are some spendy goals!  That's a huge chunk of your income.  You are going to have to be extremely dedicated if you want to make your hopes and dreams happen.  You are using Bucket List Calculator after all so obviously you are a pretty intelligent person so we have faith that you will be able to accomplish everything.  
            <br>
            <br>
            This might be a little bit intimidating for you after all ${{cost_per_year}} per year is a lot of money.  But it is important for you to see these numbers so you can make a better plan to accomplish everything.  But we urge you not to remove any items from your list.  Instead of removing items first look for other ways to improve your financial situation.  If you increase the age you hope to be done with all the items on your bucket list of that {{percent_of_yearly_wage}}% of your annual wage will drop significantly.  You can do this by editing your user profile.  Along with that if your annual wage increases, even by a small amount, it can drastically change what percentage of your income you need to dedicate to accomplishing your goals.
            
        {% elif 100 > percent_of_yearly_wage %}
        
            Someone sure is determined to a a lot with their life, and that's what we at Bucket List Calculator are all about!  This is getting into the range that is incredibly difficult to continue for long periods of time.  It is going to take some inspired financial planning to make all of these goals a reality.  With that said you were smart enough to use Bucket List Calculator so we wouldn't be surprised if got everything on this list done with a few million to spare! 
            <br>
            <br>
            This might be a little bit intimidating for you after all ${{cost_per_year}} per year is a lot of money.  But it is important for you to see these numbers so you can make a better plan to accomplish everything.  But we urge you not to remove any items from your list.  Instead of removing items first look for other ways to improve your financial situation.  If you increase the age you hope to be done with all the items on your bucket list of that {{percent_of_yearly_wage}}% of your annual wage will drop significantly.  You can do this by editing your user profile.  Along with that if your annual wage increases, even by a small amount, it can drastically change what percentage of your income you need to dedicate to accomplishing your goals.
                       
            
            
        {% else %}
        
            Well someone must have some awfully costly goals! We commend you on having lofty goals and envy how many awesome things you must have on your list.  Unfortunately unless there are some major unforeseen windfalls or you go full on Walter White this is just too much money for you to handle based on what you have listed.  
            <br>
            <br>
            This might be a little bit intimidating for you after all ${{cost_per_year}} per year is a lot of money.  But it is important for you to see these numbers so you can make a better plan to accomplish everything.  But we urge you not to remove any items from your list.  Instead of removing items first look for other ways to improve your financial situation.  If you increase the age you hope to be done with all the items on your bucket list of that {{percent_of_yearly_wage}}% of your annual wage will drop significantly.  You can do this by editing your user profile.  Along with that if your annual wage increases, even by a small amount, it can drastically change what percentage of your income you need to dedicate to accomplishing your goals.
            
        {% endif %}
    </li>
    <br>
    <li>
    
        Now some of our more astute users will be saying "Hey, my income changes over time.  I wonder what the effects of that would be on these statistics?"  Well we thought of that too!  Your welcome.
        <br>
        <br>
        Currently your Bucket List will cost about {{percent_of_yearly_wage}}% of your annual wage every year in order to accomplish by the time you are {{life_expectancy}} years old.  Now lets see how improving your annual income will improve the percent you have to spend every year to accomplish your goals.  
        <br>
        <br>
        For this example we will exclude inflation and increases in price to the current market basket (sorry for all of the econ terms).  These costs often cancel each other out over the long term and for the sake of readability we will not go into much more detail on those topics here.  Just assume no inflation exists when reading the following numbers.
        <br>
        <br>
        You currently make ${{yearly_earnings}} per year if your average annual income goes up by just one percent every year you will have an income of about ${{salary_after_compounded_1}} per year when you are {{life_expectancy}} years old (remember, this ignores inflation so think of how much money that is in today's dollars, not future dollars).  On average over these years instead of spending {{percent_of_yearly_wage}}% of your annual income on your Bucket List every year you would only need to spend {{annual_percent_after_compounded_1}}% of your annual income every year to meet your goals.
        <br>
        <br>
        Do you think you will do even better than that?  Well if your annual income increases by two percent every year then you would be making ${{salary_after_compounded_2}} annually by the age of {{life_expectancy}}.  This would mean that your Bucket List goals would only need to take up to {{annual_percent_after_compounded_2}}% of your annual income during that time frame!
        <br>
        <br>
        Are you REALLY confident about your future? Me too!  Lets be optimistic and see how a three percent, four percent, or even a five percent increase in annual income every year would benefit our annual salary and our Bucket List goals.  At the age of {{life_expectancy}} with a three percent increase in annual income every year would equate to making ${{salary_after_compounded_3}} every year.  At four percent you would make ${{salary_after_compounded_4}} and at five percent ${{salary_after_compounded_5}}.  This would decrease our income dedicated to Bucket List goal to {{annual_percent_after_compounded_3}}%, {{annual_percent_after_compounded_4}}%, and {{annual_percent_after_compounded_5}}% respectively. 
        
        
        
    </li>
    <br>
    <li>
        Now how about other sources of income, like returns from investments?  Well for starters you should include these numbers in your annual income (you can go <a href="/bucketlist/profile/edit/">here</a> to edit that information), your annual income should include ALL income from the year not just what you make from your day job.
        <br>
        <br>
        How about retirement?  Most of you would like to retire from working one day.  So how does this effect your income?  Well we hope that it wouldn't!  After you retire you probably would like to continue living at a relatively similar standard of living as you did before.  In which case your income really should not change much.  If you don't want to spend the same amount of money per year money during retirement then you could change the age you finish your Bucket List to the year you would like to retire. (and you can do that by clicking <a href="/bucketlist/profile/edit/">here</a>)
    </li>
  </ul>
 <br>
 <hr>
 <!------------Your Goal Distribution--------------->
 <br>
 <h2>Distribution of Your Goals</h2>
 <br>
 <h4>By Percentage of Whole:</h4>
 <br>
 <div id ="UsersGoalDistributionChart"></div>
 <br>
<br>
<div id ="AllUsersGoalDistributionChart"></div>
<br>
<br>
  <div id ="UsersGoalCostDistributionChart"></div>
 <br>
 <br>
 <div id = "AllUsersGoalCostDistributionChart"></div>
 <br>
 <br>
 <div id = "UsersGoalHoursDistributionChart"></div>
 <br>
 <br>
 <div id = "AllUsersGoalHoursDistributionChart"></div>
 <br>
 <br>
 <div id = "UsersGoalDaysDistributionChart"></div>
 <br>
 <br>
 <div id = "AllUsersGoalDaysDistributionChart"></div>
 <br>
 <br>
<br>

{% if total_cost > 50001 %}

<br>
<h2>What Else Could You Do?</h2>
<br>

<p>Now ${{total_cost}} is a pretty ridiculous amount of money.  But accomplishing all of your goals is totally worth it!  Lets look at some other things that you could potentially do with that money: </p>
<ul>

{% if total_cost > 2000000 %}

    <li>You could afford {{gold_bars}} 400 ounce gold bars!</li>
    <li>You would have enough to fill up a bathtub and go full on Scrooge McDuck!  Then if you for some reason felt like it you could take the rest in quarters stack them all on top of each other and your stack would reach {{height_of_quarters_stacked}} miles high!</li>  
    <li>If you wanted to you could spend {{five_star_hotel}} years living in a super fancy five star hotel room.</li>
    <li>Or you could purchase {{gallardos}} Lamborghini Gallardos!</li>
    <li>You could buy your own {{orcas}} Orca whales.</li>
    <li>You could send someone you love a huge bouquet of roses every single day for {{bouquet}} years.</li>

    
{% elif total_cost > 1000000 %}

    <li>You could afford {{gold_bars}} 400 ounce gold bars!</li>
    <li>You would have enough to fill up a bathtub and go full on Scrooge McDuck!  Then if you for some reason felt like it you could take the rest in quarters stack them all on top of each other and your stack would reach {{height_of_quarters_stacked}} miles high!</li> 
    <li>If you wanted to you could spend {{years_in_hotel}} years living in a hotel room.</li>
    <li>You could send someone you love two dozen roses every single day for {{roses_every_day}} years.</li>
    <li>Or you could purchase {{gallardos}} Lamborghini Gallardos!</li>
    <li>You could buy your own Orca Whale!</li>
    <li>Or one of those sweet magnetic beds that float</li>
    
{% elif total_cost > 500000 %}

    <li>You could afford one whole 400 troy ounce gold bar!</li>
    <li>You would have enough to fill up a bathtub and go full on Scrooge McDuck!  Then if you for some reason felt like it you could take the rest in quarters stack them all on top of each other and your stack would reach {{height_of_quarters_stacked}} miles high!</li>    
    <li>If you wanted to you could spend {{years_in_hotel}} years living in a hotel room.</li>
    {% if total_cost > 750000 %}
    <li>You would have enough money to buy your own private island!</li>
    <li>You could even go to outer space.. three times!</li>
    {% else %}
    <li>You would have enough money to buy your own private island!</li>
    <li>You could even go to outer space.. twice!</li>
    {% endif %}
    <li>You could send someone you love two dozen roses every single day for {{roses_every_day}} years.</li>
    <li>You could even take your {{all_inclusive_resort_two_weeks}} closest friends to an all inclusive resort for a full two weeks.</li>
    
{% elif total_cost > 300000 %}

    <li>You would have enough to fill up a bathtub and go full on Scrooge McDuck!  Then if you for some reason felt like it you could take the rest in quarters stack them all on top of each other and your stack would reach {{height_of_quarters_stacked}} miles high!</li>
    <li>If you wanted to you could spend {{years_in_hotel}} years living in a hotel room.</li>
    <li>You could even take your {{all_inclusive_resort}} closest friends to an all inclusive resort for a week.</li>
    <li>You could send someone you love two dozen roses every single day for {{roses_every_day}} years.</li>
    <li>You could even pay for a trip to outer space!  Now that would be pretty awesome.</li>
    
{% elif total_cost > 200000 %}
    
    <li>You could easily afford a Lamborghini Gallardo!</li>
    <li>You would have enough to split some of up into singles, fill up a bath tub and go full on Scrooge McDuck. Then, with the money left over you could still take all of those one dollar bills and line them up in a row and it would stretch {{dollar_bills_in_a_row_miles_after_tub}} miles. </li>
    <li>If you wanted to you could spend {{years_in_hotel}} years living in a hotel room.</li>
    <li>You and {{number_of_friends_on_cruise}} of your closest friends could even go on a four day Disney Cruise.</li>
    <li>You could send someone you love two dozen roses once a week for {{roses_every_week}} years.</li>
    
{% elif total_cost > 100000 %}

    <li>You would have enough to split some of it into singles, fill up a bath tub and go full on Scrooge McDuck. Then, with the money left over you could still take all of those one dollar bills and line them up in a row and it would stretch {{dollar_bills_in_a_row_miles_after_tub}} miles. </li>
    <li>Or you could buy two Albino Ball Pythons, one of the rarest pets in the world!</li>
    <li>You could easily afford a huge in-ground pool along with custom made water slides, two of those cool levitating hover scooters, and still be able to afford {{how_many_trampolines}} trampolines.  Because who doesn't want {{how_many_trampolines}} trampolines? </li>
    <li>If you wanted to you could spend {{years_in_hotel}} years living in a hotel room.</li>
    <li>Or three nights in the Ty Warner Penthouse Suite in the Four Seasons New York.</li>
    <li>You could send someone you love two dozen roses once a week for {{roses_every_week}} years.</li>
    <li>You and {{number_of_friends_on_cruise}} of your closest friends could even go on a four day Disney Cruise.</li>
    
{% elif total_cost > 50000 %}

    <li>You would have enough to split it all up into singles, fill up a bath tub and go full on Scrooge McDuck. </li>
    <li>If you were really determined, or just really bored you could take all of those one dollar bills and line them up in a row and it would stretch {{dollar_bills_in_a_row_miles}} miles. </li>
    <li>Or you could buy an Albino Ball Python, one of the rarest pets in the world!</li>
    <li>You could easily afford a huge in-ground pool along with custom made water slides.</li>
    <li>Or two Hippos and a miniature Zoo environment for them.</li>
    <li>If you wanted to you could spend {{years_in_cheap_motel}} years living in a hotel room.</li>
    <li>Or a single night in the Ty Warner Penthouse Suite in the Four Seasons New York.</li>
    <li>You could send someone you love two dozen roses once a week for {{roses_every_week}} years.</li>

{% endif %}
</ul>
<br>
{% endif %}
{% endblock content %}
 
 
 
 