{% extends 'base.html' %}

{% block title %}Your Recommendations{% endblock title %}

{% block content %}

<h1>{{user.user}}'s Recommendations</h1>

<p>Great job on making your Bucket List!  Now it's time for the real fun: Statistics and Recommendations!  Yay.  Let's get down to business.</p>
<hr>
<br/>
<!-----------Displayed Statistics------------->
<p>Total Cost: {{total_cost}}</p>
<p>Total Hours: {{total_hours}}</p>
<p>Total Days: {{total_time}}</p>
<p>Total Number of Items Left on List: {{total_number_of_items}}</p>
<p>Your age: {{age}}</p>
<p>Your Life Expectancy: {{life_expectancy}}</p>
<p>Your Yearly Earnings: {{yearly_earnings}}</p>
<p>Your Hourly Wage: {{hourly_wage}}</p>
<p>Your Average Hours Per Week: {{work_hours_per_week}}</p>
<br>
<hr>
<!-------------Basic Overview-------------->
<br>
<h2>Basic Overview</h2>
<br>
<p>In order to finish all of items left on your list by the age of {{life_expectancy}} then you need to accomplish  about {{accomplish_per_year}} goals each year until you are {{life_expectancy}} years old.  In other words you need to accomplish a goal about every {{days_per_goal}} days.
<br>
<br>
 In order to accomplish everything that you want you will need to dedicate about ${{cost_per_year}} per year.  This is the equivalent of {{percent_of_yearly_wage}}% of your current yearly income.  
 <br>
 <br>
 The cost of the average goal on your bucket list is {{cost_of_average_goal}}.
 <br>
 <br>
 You have {{years_left}} more years to accomplish all of your goals.  Which means you need to dedicate about {{days_per_year}} full days every year doing things that will help you cross off Bucket List Goals. 
 <br>
 <br>
 Now along with those full days you also should allocate about {{hours_per_month}} hours every month to accomplishing these goals.  Or roughly {{hours_per_week}} hours every single week.
 <br>
 <br>
 But this is just general stuff.  Lets get more specific!
 </p>
 <br>
 <hr>
  <!------------Most Difficult Goal-------------->
 <br>
 <h2>Your Most Difficult Goal</h2>
 <br>
  <p>Not all goals take the same amount of effort.  For example according to the data you entered <i>{{most_difficult_goal}}</i> is your most difficult goal.  This goal is  {{most_difficult_percentage_harder}} times more difficult than your average goal! That could be a rough one.  But we believe in you.
  <br>
  <br>
  Not only is this goal {{most_difficult_percentage_harder}} times harder than your average goal but it makes up {{most_difficult_goal_percentage}}% of all of the time, money, and resources you need to put into accomplishing everything on your entire Bucket List.  If you want to finish your goals in exact {{years_left}} years, by the age of {{life_expectancy}} more years you could take {{years_needed_for_most_difficult}} years to accomplish only this goal and still be on pace to accomplish everything!
  <br>
  <br>
  Now lets see how <i>{{most_difficult_goal}}</i> stacks up against everyone else's goals:
  <br>
  <ul>
      <li>
      {% if most_difficult_percentage_of_average_cost > 10 %}
        
            Now that's an expensive goal!  It's {{most_difficult_percent_of_yearly}}% of your annual income.  At ${{most_difficult_bucket_list_item.cost}} <i>{{most_difficult_goal}}</i> is more expensive than {{most_difficult_more_cost_than}}% of the goals on Bucket List Calculator.  Its even  {{most_difficult_percentage_of_average_cost}} times more expensive than the average goal 
            
      {% elif most_difficult_percentage_of_average_cost > 3 %}
            
            This one sure going to cost you!  At {{most_difficult_percentage_of_average_cost}} times larger than the average users goal, and {{most_difficult_percent_of_yearly}}% of your annual income this is even more costly than {{most_difficult_more_cost_than}}% of all goals on all of Bucket List Calculator.
            
      {% elif most_difficult_percentage_of_average_cost > 0.6 %}
                        
             This is going to be quite the costly goal.  It's larger than {{most_difficult_more_cost_than}}% of all the goals on Bucket List Calculator.  It also equates to {{most_difficult_percentage_of_average_cost}}% of your annual income. 
                          
      {% else %}
      
            Your goal is more expensive than {{most_difficult_more_cost_than}}% of all the in progress goals on Bucket List Calculator.  It costs {{most_difficult_percentage_of_average_cost}}% of your annual income.    
            
      
      {% endif %}

      
      </li>
      <br>
      <li>
      This will take more hours to accomplish than {{most_difficult_more_hours_than}}% of all the Bucket List  Goals on this website. 
      
      {% if most_difficult_percentage_of_average_hours > 2 %}
      
            You have projected that <i>{{most_difficult_goal}}</i>  will take {{most_difficult_bucket_list_item.hours}}  hours to accomplish,  or {{most_difficult_percentage_of_average_hours}} times more hours than the average users goal.  
            
            {% if most_difficult_percentage_of_average_hours > 4 %}
            
                In order to put that into perspective a little bit better the average goal on this site would take about {{average_goal_average_hours_per_year}} hours a week for an entire year to accomplish.  In your case it would take {{most_difficult_average_hours_per_year}} every week.
                
                
                {% if most_difficult_percentage_of_average_hours > 6 %}
                
                That's quite the goal!  Sounds like it will be a ton of work.  We bet it will be worth it though.
                
                {% endif %}
                
            {% endif %}
            
      {% endif %}
      </li>
      <br>
      <li>
      Your goal will take more full days dedicated to it than {{most_difficult_more_days_than}}% of all the goals on this website.
      
      {% if most_difficult_percentage_of_average_time > 2 %}
      
            Most users goals take around {{average_time_of_all_goals}} full days.  Coming it at {{most_difficult_bucket_list_item.time}} full days 
            
                {% if most_difficult_percentage_of_average_time > 4 %}
                    
                        ({{most_difficult_percentage_of_average_time}} times more days than the average goal) this goal is going to require some serious time set aside to accomplish!  Good luck.
                        
                {% else %}

                        this goal is going to take a while!
                
                {% endif %}
      
      {% endif %}
      
      </li>
  </ul>
  </p>
  <br> 
  <hr>
  <!---------List of Most and Least Difficult----->
  <br>
 <h2>Top Five Most Difficult</h2>
 <ol>
 {% for item in top_five_most_difficult %}
    <li>{{item}}</li>
 {% endfor %}
 </ol>
 <br>
  <br>
 <h2>Top Five Least Difficult</h2>
 <ol>
 {% for item in bottom_five_least_difficult %}
    <li>{{item}}</li>
 {% endfor %}
 </ol>
 <br>
 <br>
 <hr>
 <!------------Your Goal Distribution--------------->
 <br>
 <h2>Distribution of Your Goals</h2>
 <ul>
 {% for key, value in goal_type_percentages.items %}
    {% if value > 0 %}
    <li>{{value}}% - {{key}}</li>
    {% endif %}
 {% endfor %}
 </ul>
 <br>
 <br>
<hr>
<br>
{% endblock content %}
 
 
 
 