{% extends 'base.html' %}

{% block title %}Search Results{% endblock title %}
{% block content %}
{% load avatar_tags %}

<link href="/media/static/css/custom_about_us.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2">
            <div class = "sections">
            
                <h1>Search Results</h1>
                <br>

                {{results}}
                
                
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}