{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Search Results{% endblock title %}
{% block content %}
{% load avatar_tags %}

<link href="{% static "css/custom_search.css" %}" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2">
            <div class = "sections">
            
                <h1>Search Results</h1>
                <br>
                {% for item in results %}
                    {% if item.username %}
                        <div class = "user">                         
                            <h4>
                                {% avatar item.username 35 %}
                                <a href = "/bucketlist/userstats/{{item.username}}/">    {{item.username}}</a>
                            </h4>
                            <p>
                                <b>Type:</b> <i>User</i>
                                <br>
                                <b>Email:</b> <i>{{item.email}}</i>
                            </p>
                        </div>
                    {% else %}
                        <div class = "goal">
                            <h4>
                                <a href = "/bucketlist/item/{{item.id}}/">{{item.text}}</a>
                            </h4>
                            <p>
                                <b>Type:</b> <i>Bucket List Goal</i>
                                <br>
                                <b>Goal Type:</b> <i>{{item.goal_type}}</i>
                                <br>
                                <b>Added:</b> <i>{{item.pub_date|date:"M d, Y"}}</i>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}