{% extends 'base.html' %}

{% block title %}Tutorial{% endblock title %}

{% block content %}

<h1>Bucket List Calculator Tutorial</h1>
<br>
<p>Welcome to the Bucket List Calculator Tutorial.  You are viewing this page because you are one of our new users or because somewhere along the line you got confused and wanted to learn a bit more about how this site works.  Let me start by saying congrats on getting started, you have made a huge step in the right direction to completing all your life goals.
<br>
<br>
<h3>What is Bucket List Calculator</h3>
<br>
<p>
    The most important thing to understand about Bucket List Calculator is that it is a tool.  As with any tool unless you understand how the tool works and learn to use it properly your gonna have a bad time.  It is very important for you to understand how to input data about your goals correctly in order for relevant statistics to be output for you.
</p>
<br>
<p>
    Bucket List Calculator also has a lot of ways that you can interact with other users.  We put this in place so you can see what kind of goals other users have and how difficult they believe their goals will be to accomplish.  Plus it's a great way to get awesome goal ideas!  
</p>
<hr>
<br>
<h3>How to use Bucket List Calculator</h3>
<br>
<p>
    Since the main purpose of Bucket List Calculator is to give you stats how difficult your goals will be to accomplish its really important to know how to input information about yourself and your goals.
</p>
<ul>
    <li>
        <h4>Setting Up Your Profile</h4>
        <p>
            Your profile has four important pieces of information to fill out, before you do ANYTHING else on this site many sure that all of your profile information is filled out correctly.  If not there really is no point in even using the site is there?
        </p>
        <ul>
            <li>
                <h4>Birth Date</h4>
                <p>
                    This field is pretty self explanatory.  However we urge you to not to mess around with this field or give a false age, almost every statistic output relates to your age in some way shape or form, so don't lie about it! 
                </p>
            </li>
            <li>
                <h4>Age Done</h4>
                <p>
                    In this field you will fill out the age you would like to be done with all of your goals.  Now unlike your birth date you should feel free to play around with this number as much as you like.  Go crazy with it!  It will drastically change some of the stats that are output but it is fun to see how things changed based on the numbers you input.
                </p>
            </li>
            <li>
                <h4>Yearly Income</h4>
                <p>
                    Now this one is interesting.  Most people immediately assume that you should input the amount of money you make at your job every year here, and that's not completely wrong.  But it's not the whole story.  Investments, side jobs, illegal under the table dealings (We won't tell, I promise), and other sources of income should all be included here as well.
                    <br>
                    <br>
                    P.S.   We won't make any of this information public
                    <br>
                    <br>
                    P.P.S.   Plus you can always go back later and play around with these numbers if you want to as well. Bucket List Calculator is your tool, use it however you like!
                </p>
            </li>
            <li>
                <h4>Hourly Wage</h4>
                <p>
                    In this field you can input one of two things.  One option is to input how much you make per hour, or you can choose how much you value one hour of free time and what dollar amount best represents that.  This field is used when calculating the overall difficulty of each goal (we compile the days, hours, and cost of your goal into one single number and then compare all your goals against one another).
                </p>
            </li>
        </ul>
    </li>
    <br>
    <li>
        <h4>Creating Goal Items</h4>
        <p>
            Each Bucket List Item has four attributes
        </p>
        <ul>
            <li>Goal Types</li>
            <li>Cost</li>
            <li>Hours</li>
            <li>Days</li>
        </ul>
    </li>
    <li>
        <h4>Stats and Recommendations</h4>
        <p>
            This is the bread an butter of the website.  This outputs all of the cool statistics that are created from the information you have entered
        </p>
    </li>
</ul>
<hr>
<br>
<h3>Finding Your Way Around</h3>
<br>
<ul>
    <li>Your Profile</li>
    <li>My List</li>
    <li>Messenger</li>
    <li>Crossing Off Items</li>
</ul>
<hr>
<br>
<h3>
<h3>Side Notes</h3>
<br>
<ul>
    <li>Retirement and Annual Income</li>
    <li>Don't insert ridiculous numbers (will be deleted)</li>
    <li>Feel free to email me if you have issues or recommendation about things you would like Bucket List Calculator to have.  After all this site is built for you!</li
</ul>
<hr>
<br>

{% endblock content %}