{% extends 'base.html' %}

{% block title %}Tutorial{% endblock title %}
{% block content %}
{% load avatar_tags %}

<link href="/media/static/css/custom_tutorial.css" rel="stylesheet" type="text/css"/>


<div class = "container">
    <div class = "row">
        <div class ="col-md-8">
            <div class = "sections">
                <h1>How It Works</h1>
                <br>
                <p>
                    So how does everything work?  Bucket List Calculator uses a lot of numbers and statistics and sometimes it can be confusing what information you are supposed to enter.  Well you are in the right place!  This is where you can learn a little bit more about all of cool features we have available for you.
                </p>
                <br>
            </div><!-- end first sections-->
            <br>
            <div class = "sections">
                <br>
                <h3>What is Bucket List Calculator?</h3>
                <br>
                <p>
                    The most important thing to understand is that Bucket List Calculator is a tool.  And with any tool unless you understand how the tool works and learn to use it properly your gonna have a bad time.  You need to understand how to input data about your goals correctly in order for relevant statistics to be output for you.
                </p>
                <br>
                <p>
                    Bucket List Calculator also has a lot of ways that you can interact with other users.  We put this in place so you can see what kind of goals other users have and how difficult they believe their goals will be to accomplish.  Plus it's a great way to get awesome goal ideas!  
                </p>
                <br>
                </div><!--end second sections-->
                <br>
                <div class = "sections">
                <h3>How to use Bucket List Calculator</h3>
                <br>
                <p>
                    Since the main purpose of Bucket List Calculator is to give you stats how difficult your goals will be to accomplish its really important to know how to input information about yourself and your goals.
                </p>
                <ul>
                    <li>
                        <br>
                        <h4>Setting Up Your Profile</h4>
                        <br>
                        <p>
                            Your profile has four important pieces of information to fill out, before you do <b>ANYTHING</b> else on this site make sure that all of your profile information is filled out correctly.  If you want you can always go back and change your information later and experiment with it.
                        </p>
                        <br>
                        <ul>
                            <li>
                                <h4>Birth Date</h4>
                                <p>
                                    This field is pretty self explanatory.  However we urge you to not to mess around with this field or give a false age, almost every statistic output relates to your age in some way shape or form, so don't lie about it! 
                                </p>
                            </li>
                            <br>
                            <li>
                                <h4>Age Done</h4>
                                <p>
                                    In this field you will fill out the age you would like to be done with all of your goals.  Now unlike your birth date you should feel free to play around with this number as much as you like.  Go crazy with it!  It will drastically change some of the stats that are output but it is fun to see how things changed based on the numbers you input.
                                </p>
                            </li>
                            <br>
                            <li>
                                <h4>Yearly Income</h4>
                                <p>
                                    Now this one is interesting.  Most people immediately assume that you should input the amount of money you make at your job every year here, and that's not completely wrong.  But it's not the whole story.  Investments, side jobs, illegal under the table dealings (we won't tell, I promise), and other sources of income should all be included here as well.
                                    <br>
                                    <br>
                                    P.S.   We won't make any of this information public
                                    <br>
                                    <br>
                                    P.P.S.   Plus you can always go back later and play around with these numbers if you want to as well. Bucket List Calculator is your tool, use it however you like!
                                </p>
                            </li>
                            <br>
                            <li>
                                <h4>Hourly Wage</h4>
                                <p>
                                    In this field you can input one of two things.  One option is to input how much you make per hour, or you can choose how much you value one hour of free time and what dollar amount best represents that.  This field is used when calculating the overall difficulty of each goal (we compile the days, hours, and cost of your goal into one single number and then compare all your goals against one another).
                                </p>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <h4>Creating Goal Items</h4>
                        <p>
                            Each Bucket List Item has four attributes, we then use those four attributes to give you some really cool stats about all of your goals!  So make sure to fill everything out accurately. 
                        </p>
                        <br>
                        <ul>
                            <li>
                                <h4>Goal Types</h4>
                                <p>
                                    There are a variety of different goal types to choose from when creating each goal, when we run all your goals through our calculator we figure out what kind of goals make up your Bucket List and all sorts of other cool information for you.
                                </p>
                            </li>
                            <br>
                            <li>
                                <h4>Cost</h4>
                                <p>
                                    This field is relatively straight forward.  This is simply the estimated cost of the goal in US Dollars.
                                </p>
                            </li>
                            <br>
                            <li>
                                <h4>Days</h4>
                                <p>
                                    In this field you will enter how many full days the goal will take you.  Now there is a very important distinction between Days and Hours when using Bucket List Calculator.  The number of days you enter should only be equal to the full number of <b>FULL DAYS</b> you need to allocate to accomplishing your goal.  A great example of a goal type that requires a few days to accomplish is travel: when you travel you will have to take full days off of work and everything else you would normally do in your average day to accomplish your goal. 
                                </p>
                            </li>
                            <br>
                            <li>
                                <h4>Hours</h4>
                                <p>
                                    Hours is used in tandem with Days to represent how long each goal will take you.  Where Days require full days dedicated to doing things only related to that goal Hours can be split up into smaller chunks and accomplished over time.  A perfect example of a goal type that takes hours to accomplish is Improving a Skill.  If your goal was <b><i>'Learn to Play Guitar'</i></b> it would take you a lot of time.  However it would not take any full days.  So what to do?  That's what we use Hours for!  Predict how many hours this goal will take you and then enter that number.  For example if you think it would take an hour a day for three months you might put <b class = "text-success">90</b> in the hours field for this goal. Get it? Got it? Good!
                                </p>
                            </li>
                        </ul>
                        </li>
                        <br>
                        <li>
                            <h4>Stats and Calculations</h4>
                            <p>
                                This is the bread an butter of the website (Why do people say <i>'bread and butter'</i>?  It's not even that good).  This is the <span class = "line-through-text">bread and butter</span> <b>cheesecake</b> of the website.  This outputs all of the cool statistics that are created from the information you have entered.  This is the reason you are using this site in the first place, because of all the cool ways Bucket List Calculator represents your goals and shows you what you have to do to accomplish everything on your list.  Be excited because this part is awesome!  Once you are done adding goals to your Bucket List you will want to see your stats and calculations.  All you have to do is click on the <a href="/bucketlist/mylist/recommendation/"  class = "btn btn-success btn-xs"> <span class = "fa fa-calculator"> </span> Calculate!</a> button located on the navigation bar (or you can click this one here).
                            </p>
                        </li>
                        <br>
                    </ul>
                </div><!--end third sections-->
                <br>
                <div class = "sections">
                    <h3>More on Days vs. Hours</h3>
                    <br>
                        <p>
                            This whole <b>Days</b> and <b>Hours</b> thing can be a little bit confusing at first.  So here are a few example of how you might fill out goals item that utilizes both.
                        </p>

                        <p>
                            Lets say your first goal is <b><i>'Spend a Weekend in Las Vegas'</i></b>.
                        </p>
                        <br>
                        <ul>
                            <li>
                                The first category you need to fill is <b>Cost</b>. Lets estimate that the trip will <b>Cost</b> you about <b class = "text-success">$1,500</b>.
                            </li>
                            <br>
                            <li>   
                                Next up is <b>Days</b>. If you plan on leaving Friday morning and returning Sunday night we can put a <b class = "text-success">3</b> for <b>Days</b>.
                            </li>
                            <br>
                            <li>
                                So what about <b>Hours</b>?  Would you put a zero here since it would only take full <b>Days</b>?  Absolutely, you could totally do that.  Or you could enter the amount of time you would take planning this trip.  Since the time spent planning wouldn't be any full <b>Days</b>, just a couple <b>Hours</b> here and there the <b>Hours</b> category would work perfectly.  Its your own discretion.  Remember that this is your tool, you can use it however you like to!  For our example lets say calling all of your friends and planning the trip will take you <b class = "text-success">4</b> <b> Hours</b>.
                            </li>
                            <br>
                        </ul>
                        <br>
                        <div class = "mock-list-item">
                            <h4>Spend a Weekend in Las Vegas</h4>
                            <p class = "text-bold">Cost: <b class = "text-success">$1500</b></p>
                            <p class = "text-bold">Days: <b class = "text-success">3</b></p>
                            <p class = "text-bold">Hours: <b class = "text-success">4</b></p>
                        </div>
                        <br>
                        <br>
                        <p>
                            One goal down.  Now lets do a couple more for some more practice.
                        </p>
                        <br>
                        <p>
                            For your second goal you would like to <b><i>'Learn to Swing Dance'</i></b>.
                        </p>
                        <br>
                        <ul>
                            <li>
                                Lets say the <b>Cost</b> for a the swing dancing class you would like to take will be <b class = "text-success">$200</b>.
                            </li>
                            <br>
                            <li>   
                               For most dancing classes you would participate one night per week for a few <b>Hours</b> at a time.  So what do we put for <b>Days</b>?  We can just leave it set to <b class = "text-success">0</b>.  No problem!
                            </li>
                            <br>
                            <li>
                                You plan to go to a swing dancing class for three <b>Hours</b> once every week for <b class = "text-success">10</b> weeks.  This would equate to <b class = "text-success">30</b> <b>Hours</b> total.  
                            </li>
                            <br>
                        </ul>
                        <br>
                        <div class = "mock-list-item">
                            <h4>Learn to Swing Dance</h4>
                            <p class = "text-bold">Cost: <b class = "text-success">$200</b></p>
                            <p class = "text-bold">Days: <b class = "text-success">0</b></p>
                            <p class = "text-bold">Hours: <b class = "text-success">30</b></p>
                        </div>
                        <br>
                        <br>
                        <p>
                            Two goals done!.  See, it's pretty easy.
                        </p>
                        <br>
                        <p>
                            Your third goal is to <b><i>'Climb Mount Kilimanjaro'</i></b>.  
                        </p>
                        <br>
                        <ul>
                            <li>
                                Now this goal might be a little bit harder to estimate.  For this example lets say that one of your other goals on your Bucket List is to <b><i>'Travel to Zanzibar'</i></b>.  While you are in this region of Africa you would like to also like to <b><i>'Climb Mount Kilimanjaro'</i></b>.  Since you are already planning on being in the region it will make the goal <b>Cost</b> a lot less and be easier to accomplish in general.  You can do this when making your Bucket List as well... or not.  It's your tool remember, use it how you want!
                            </li>
                            <br>
                            <li>
                                First lets estimate the <b>Cost</b>. Since you will already be in Zanzibar we will only have to calculate the <b>Cost</b> to get from Zanzibar to Mount Kilimanjaro.  Round trip flights booked in advance average near <b class = "text-success">$400</b>.  Next up you need to figure out how much Kilimanjaro will <b>Cost</b> to climb.  A cheaper budget trek runs about <b class = "text-success">$800</b>.  But lets estimate <b class = "text-success">$1200</b> just to be safe.  Now we can add those together: <b class = "text-success">$1600</b>.  But lets add a a couple hundred more dollars for additional nights in hotels/hostels, food, unforeseen expenses, and tipping your trek guide.  So your final <b>Cost</b> would be <b class = "text-success">$1800</b>.
                            </li>
                            <br>
                            <li>   
                                Now for <b>Days</b>.  Not every climber makes it to the top of Kilimanjaro.  In order to maximize your chances you would want to be in good physical condition and take one of the longer routes (to minimize elevation sickness and be able to climb more slowly).  So we can dedicate <b class = "text-success">8</b> <b> Days</b> to the climb alone.  Two more for the travel time and a third for plenty of time to rest before the climb.  So you can plan <b class = "text-success">11</b> <b> Days</b> for this goal.
                            </li>
                            <br>
                            <li>
                                And now for <b>Hours</b>!  Clearly this goal is going to take a little bit of planning and organizing to make happen.  Lets estimate that all of the planning and trip booking will take <b class = "text-success">5</b> <b>Hours</b>.  Now if you are going to use all of this effort to make this Bucket List Goal a reality then you are going to want to do anything in your power to make sure to do not fail the climb.  In order to prepare yourself for the climb you will want to be in good physical condition.  A good way to go about this would be go hiking a few times a week to get yourself accustomed to the climb.  Lets say you will hike <b class = "text-success">10</b> <b> Hours</b> a week for the three months prior to your trip.  This plus the time spent planning and booking your trip would come out to a total of around <b class = "text-success">125</b> <b> Hours</b>.
                            </li>
                            <br>
                        </ul>
                        <br>
                        <div class = "mock-list-item">
                            <h4>Climb Mount Kilimanjaro</h4>
                            <p class = "text-bold">Cost: <b class = "text-success">$1800</b></p>
                            <p class = "text-bold">Days: <b class = "text-success">11</b></p>
                            <p class = "text-bold">Hours: <b class = "text-success">125</b></p>
                        </div>
                        <br>
                        <br>
                        <p>
                            There you go!  Hopefully now you have a better understanding of how this whole <b>Hours vs. Days</b> thing works when adding your own goals to your Bucket List.  If you still are having issues please feel free to message other users or <a href = "/bucketlist/contact/">contact us</a> personally and we can help you out.
                        </p>
                        <br>
                    </li>        
    
                </div><!--end fourth sections-->
                <br>
                <div class = "sections">
                <h3>Side Notes</h3>
                <br>
                <ul>
                    <li>
                        <h4>Family or Personal Account</h4>
                        <p>
                            If you are lucky enough to have a family you may want to use this account for more than just yourself.  Feel free to use this site however you wish!  It works just great for this purpose as well, just enter your profile information as a family instead of as an individual.  Remember this is your tool, use it how you like! (Hopefully you get it by now, we will stop reminding you about the whole <i>'Bucket List Calculator is a tool'</i> thing)
                        </p>
                    </li>
                    <br>
                    <li>
                        <h4>Make Sure to Use Accurate Numbers</h4>
                        <p>
                            When you access this site many of the statistics that are output for you come from other users.  You can compare their goals against your own.  Since users share their information its important to make sure you try to be as accurate as possible with what information you input.  We try to go through and make sure users are not entering any ridiculous numbers as often as we can and then we contact the user and re-adjust those numbers or remove them entirely so as not to sway everyone else's statistics.
                        </p>
                    </li>
                    <br>
                    <li>
                        <h4>Crossing Off Items</h4>
                        <p>
                            Our Bucket List Calculator is used to calculate what items you have left to accomplish.  However many of our users like to have an option to "Cross Off" their list items rather than remove them from your list entirely.  You can choose either one you prefer.  Either option will ensure that they will not be included when calculating your stats.
                        </p>
                    </li>
                    <br>
                    <li>
                        <h4>Contact Us</h4>
                        <p>
                            Feel free to <a href = "/bucketlist/contact/">contact us</a> if you have issues or recommendation about things you would like Bucket List Calculator to have.  After all this site is built for you!  Please let us know.
                        </p>
                    </li>
                </ul>
                <br>
                <hr>
                <br>
                {% if user.is_authenticated %}
                    <p>
                        Now that you are a Bucket List Calculator pro and understand how everything works click <a href = "/bucketlist/mylist/">here</a> to go to your profile page and start adding some goals! 
                    </p>
                {% else %}
                    <p>
                        Now that you are a Bucket List Calculator pro we think its time for you to create an account and get started!  Click <a href="/accounts/register/">here</a> and get started on making your goals a reality!
                    </p>
                {% endif %}
                <br>
            </div><!--end first section-->
            <br>
        </div><!--end col-md-8-->
        <div class = "col-md-4">
            <div class = "sections">
                   <h1>Talked About</h1>
                    <br>
                    {% for comment in every_comment %}
                        <h4 class = "talked-about-title"><a href= "/bucketlist/item/{{comment.item.id}}/">{{comment.item}}</a></h4>
                        <div class = "talked-about-div">
                            <p><i><q>{{comment.body|truncatewords:30}}</q></i></p>
                            <h6><a href="/bucketlist/userstats/{{comment.author}}">-{{comment.author}}</a></h6>
                        </div>
                        <br>
                    {% endfor %}             
            </div>
            <br>
            <div class = "sections recently-completed">
                    
                    <h1>Recently Completed</h1>
                        <ul>
                        {% for item in recently_crossed_off %}
                            <li>
                                <span class = "fa fa-check-square-o fa-2x"></span>
                                <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                            </li>
                        {% endfor %}
                        </ul>
            </div><!--end Recently Completed-->
            <br>
            <div class = "sections">
                    <h1>Recently Added</h1>
                        <ul class = "recently-added-list">
                            {% for item in all_list_items %}
                                <li>
                                    <div class = "recently-added-list-item">
                                        <h4>
                                            <a href="/bucketlist/item/{{item.id}}/">{{ item.text }}</a>
                                        </h4>
                                        <span class="avatar-span">{% avatar item.pub_by 25%}</span>
                                        <a href = "/bucketlist/userstats/{{item.pub_by}}">{{item.pub_by}}</a>
                                        <span class = "date-added"><span class = "fa fa-plus"></span>{{item.pub_date|timesince}} ago</span>
                                    </div>
                                </li>
                                <br>
                            {% endfor %}
                        </ul>
                        <br>
                </div><!--end Recently Added -->
        </div>
    </div><!--end row-->
</div><!--end container-->


{% endblock content %}