{% extends "base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}
{% block title %}Add Profile Picture{% endblock %}
{% block content %}

<link href="/media/static/css/custom_avatar.css" rel="stylesheet" type="text/css"/>

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "sections">
            
                <h1>Change Your Profile Picture</h1>
                <p>{% trans "Your current picture: " %}</p>
                {% avatar user %}
                {% if not avatars %}
                    <p>{% trans "You haven't uploaded an picture yet. Please upload one now." %}</p>
                {% endif %}
                <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                    {{ upload_avatar_form.as_p }}
                    <br>
                    <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" class = "btn btn-success" /> <a href = "/avatar/change/" class = "btn btn-warning">Back</a></p>
                </form>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}
